<ul class="dp-time-select-controls">
  <li class="dp-time-select-control dp-time-select-control-hours">
    <button type="button"
            [disabled]="!shouldShowIncrease('hour')"
            class="dp-time-select-control-up"
            (click)="increase('hour')">
    </button>
    <span class="dp-time-select-display-hours">{{hours}}</span>
    <button type="button"
            [disabled]="!shouldShowDecrease('hour')"
            class="dp-time-select-control-down"
            (click)="decrease('hour')"></button>
  </li>
  <li class="dp-time-select-control dp-time-select-separator">{{componentConfig.timeSeparator}}</li>
  <li class="dp-time-select-control dp-time-select-control-minutes">
    <button type="button"
            [disabled]="!shouldShowIncrease('minute')" class="dp-time-select-control-up"
            (click)="increase('minute')"></button>
    <span class="dp-time-select-display-minutes">{{minutes}}</span>
    <button type="button"
            [disabled]="!shouldShowDecrease('minute')" class="dp-time-select-control-down"
            (click)="decrease('minute')"></button>
  </li>
  <ng-container *ngIf="componentConfig.showSeconds">
    <li class="dp-time-select-control dp-time-select-separator">{{componentConfig.timeSeparator}}</li>
    <li class="dp-time-select-control dp-time-select-control-seconds">
      <button type="button"
              [disabled]="!shouldShowIncrease('second')"
              class="dp-time-select-control-up"
              (click)="increase('second')"></button>
      <span class="dp-time-select-display-seconds">{{seconds}}</span>
      <button type="button"
              [disabled]="!shouldShowDecrease('second')" class="dp-time-select-control-down"
              (click)="decrease('second')"></button>
    </li>
  </ng-container>
  <li class="dp-time-select-control dp-time-select-control-meridiem" *ngIf="!componentConfig.showTwentyFourHours">
    <button type="button"
            [disabled]="!shouldShowToggleMeridiem()"
            class="dp-time-select-control-up"
            (click)="toggleMeridiem()"></button>
    <span class="dp-time-select-display-meridiem">{{meridiem}}</span>
    <button type="button"
            [disabled]="!shouldShowToggleMeridiem()"
            class="dp-time-select-control-down"
            (click)="toggleMeridiem()"></button>
  </li>
</ul>
