<div class="ob-calendar-wrapper">
  <div class="ob-weekdays">
    <span class="ob-calendar-weekday" *ngFor="let weekday of weekdays">{{weekday}}</span>
  </div>
  <div class="ob-calendar-week" *ngFor="let week of weeks">
    <button class="ob-calendar-day"
            *ngFor="let day of week"
            (click)="dateClick(day)"
            [disabled]="isDisabledDay(day)"
            [ngClass]="{
              'ob-selected': day.selected,
              'ob-current-month': day.currentMonth,
              'ob-prev-month': day.prevMonth,
              'ob-next-month': day.nextMonth,
              'ob-current-day': day.currentDay
            }">
      {{day.date.format('DD')}}
    </button>
  </div>
</div>
