& {

  h3 {
    margin-bottom: 0;
  }

  .ob-options-section {
    text-decoration: underline;
  }

  .ob-picker-container {
    margin: 20px auto;
    width: 212px;
  }

  .ob-attributes, .ob-configs {
    width: 350px;
    display: inline-block;
    vertical-align: top;
  }

  .ob-configs-container {
    pre {
      text-align: left;
      margin: 0;
    }
  }

  .ob-option {
    padding: 10px;

    &:nth-child(odd) {
      background: fade(#CCCCCC, 20);
    }
  }

  .ob-week-days {
    input {
      width: 37px;
    }
  }

  pre code {
    display: block;
    background: #EFF0F1;
  }

  .ob-option-header {
    font-weight: 600;
  }

}