& {
  .ob-demo-item:nth-child(odd) {
    background: fade(#CCCCCC, 20);
  }

  .ob-demo-panel {
    display: flex;
    justify-content: space-between;

    > div {
      flex: 1;
      padding: 10px;
      min-width: 300px;
    }
  }

  pre {
    margin: 0;
    //white-space: normal;
  }
}