<div class="dp-demo-page">
  <div class="dp-menu">
    <h3 class="dp-menu-header">Components</h3>
    <ul>
      <li>
        <a (click)="modeChanged('daytimePicker')" [ngClass]="{'dp-active-item': pickerMode == 'daytimePicker'}" href="#"
           id="daytimePickerMenu">Day Time Picker</a>
      </li>
      <li>
        <a (click)="modeChanged('daytimeInline')" [ngClass]="{'dp-active-item': pickerMode == 'daytimeInline'}" href="#"
           id="daytimeInlineMenu">Day Time Picker inline</a>
      </li>
      <li>
        <a (click)="modeChanged('daytimeDirective')" [ngClass]="{'dp-active-item': pickerMode == 'daytimeDirective'}"
           href="#"
           id="daytimeDirectiveMenu">Day Time Picker directive</a>
      </li>
      <li>
        <a (click)="modeChanged('dayPicker')" [ngClass]="{'dp-active-item': pickerMode == 'dayPicker'}" href="#"
           id="dayPickerMenu">Day Picker</a>
      </li>
      <li>
        <a (click)="modeChanged('dayInline')" [ngClass]="{'dp-active-item': pickerMode == 'dayInline'}" href="#"
           id="dayInlineMenu">Day Picker inline</a>
      </li>
      <li>
        <a (click)="modeChanged('dayDirective')" [ngClass]="{'dp-active-item': pickerMode == 'dayDirective'}" href="#"
           id="dayDirectiveMenu">Day Picker directive</a>
      </li>
      <li>
        <a (click)="modeChanged('dayDirectiveReactive')"
           [ngClass]="{'dp-active-item': pickerMode == 'dayDirectiveReactive'}" href="#"
           id="dayDirectiveReactiveMenu">Day Picker directive Reactive</a>
      </li>
      <li>
        <a (click)="modeChanged('monthPicker')" [ngClass]="{'dp-active-item': pickerMode == 'monthPicker'}" href="#"
           id="monthPickerMenu">Month Picker</a>
      </li>
      <li>
        <a (click)="modeChanged('monthInline')" [ngClass]="{'dp-active-item': pickerMode == 'monthInline'}" href="#"
           id="monthInlineMenu">Month Picker inline</a>
      </li>
      <li>
        <a (click)="modeChanged('monthDirective')" [ngClass]="{'dp-active-item': pickerMode == 'monthDirective'}"
           href="#"
           id="monthDirectiveMenu">Month Picker directive</a>
      </li>
      <li>
        <a (click)="modeChanged('timePicker')" [ngClass]="{'dp-active-item': pickerMode == 'timePicker'}" href="#"
           id="timePickerMenu">Time Picker</a>
      </li>
      <li>
        <a (click)="modeChanged('timeInline')" [ngClass]="{'dp-active-item': pickerMode == 'timeInline'}" href="#"
           id="timeInlineMenu">Time Picker inline</a>
      </li>
      <li>
        <a (click)="modeChanged('timeDirective')" [ngClass]="{'dp-active-item': pickerMode == 'timeDirective'}" href="#"
           id="timeDirectiveMenu">Time Picker directive</a>
      </li>
    </ul>
    <div class="dp-place-holder"></div>
  </div>

  <div *ngIf="showDemo"
       [ngClass]="{'dp-not-top': !isAtTop,
                   'dp-inline': pickerMode.endsWith('Inline'),
                   'dp-inline-day': pickerMode == 'dayInline',
                   'dp-inline-month': pickerMode == 'monthInline',
                   'dp-inline-time': pickerMode == 'timeInline',
                   'dp-inline-day-time': pickerMode == 'daytimeInline'}"
       class="dp-demo-container">

    <form #donateForm
          action="https://www.paypal.com/cgi-bin/webscr"
          class="dp-donate-btn"
          method="post"
          target="_blank">
      <input name="cmd" type="hidden" value="_s-xclick">
      <input name="hosted_button_id" type="hidden" value="8ZR2S5XYJ6WLJ">
      <input (click)="donateClicked()" alt="PayPal - The safer, easier way to pay online!" border="0"
             name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" type="image">
      <img alt="" border="0" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1">
    </form>

    <div class="dp-fiverr">
      <span>For faster support:</span>
      <a (click)="trackFiver()"
         href="https://www.fiverr.com/vladioffe/add-features-and-fix-bugs?arrived_from_manage_gigs=true&display_share=true"
         target="_blank">
        <img
            src="https://yt3.ggpht.com/a/AGF-l7-_HVoWft9RKtkKGYCSKADlZMTGp4hSCxfzmQ=s900-mo-c-c0xffffffff-rj-k-no">
      </a>
    </div>

    <h2 class="dp-page-header">Angular Date/Time/Month Picker</h2>

    <form #form="ngForm">
      <div *ngIf="pickerMode === 'daytimePicker'"
           [formGroup]="formGroup"
           class="dp-picker-time-picker">
        <dp-date-picker #dateComponent
                        (close)="closed()"
                        (onChange)="log($event)"
                        (onLeftNav)="onLeftNav($event)"
                        (onRightNav)="onRightNav($event)"
                        (onSelect)="onSelect($event)"
                        (open)="opened()"
                        [config]="config"
                        [displayDate]="displayDate"
                        [maxDate]="validationMaxDate"
                        [minDate]="validationMinDate"
                        [mode]="'daytime'"
                        [placeholder]="placeholder"
                        [required]="required"
                        [theme]="material ? 'dp-material dp-main' : 'dp-main'"
                        formControlName="datePicker"
                        id="daytimePicker"
                        name="daytimePicker">
        </dp-date-picker>

        <div class="dp-validations">
          <div *ngIf="formGroup.get('datePicker').errors?.required" id="requiredValidation">required</div>
          <div *ngIf="formGroup.get('datePicker').errors?.format" id="formatValidation">invalid format</div>
          <div *ngIf="formGroup.get('datePicker').errors?.minDate" id="minDateValidation">minDate invalid</div>
          <div *ngIf="formGroup.get('datePicker').errors?.maxDate" id="maxDateValidation">maxDate invalid</div>
        </div>
      </div>

      <div *ngIf="pickerMode === 'daytimeInline'" class="dp-inline-day-time">
        <dp-day-time-calendar
          #dateComponent
          #daytimeInline="ngModel"
          (ngModelChange)="log($event)"
          (onLeftNav)="onLeftNav($event)"
          (onRightNav)="onRightNav($event)"
          (onSelect)="onSelect($event)"
          [(ngModel)]="date"
          [config]="config"
          [maxDate]="validationMaxDate"
          [minDate]="validationMinDate"
          [theme]="material ? 'dp-material dp-main' : 'dp-main'"
          name="daytimeInline">
        </dp-day-time-calendar>

        <div class="dp-validations">
          <div *ngIf="daytimeInline.errors?.required" id="daytimeInlineRequiredValidation">
            required
          </div>
          <div *ngIf="daytimeInline.errors?.minDate" id="daytimeInlineMinDateValidation">minDate
            invalid
          </div>
          <div *ngIf="daytimeInline.errors?.maxDate" id="daytimeInlineMaxDateValidation">maxDate
            invalid
          </div>
        </div>
      </div>

      <div *ngIf="pickerMode === 'daytimeDirective'" class="dp-picker-day-time-directive" id="daytimeDirective">
        <input #dateComponent="dpDayPicker"
               #dateDirectivePicker="dpDayPicker"
               #daytimeDirectivePickerModel="ngModel"
               (close)="closed()"
               (onChange)="log($event)"
               (onLeftNav)="onLeftNav($event)"
               (onRightNav)="onRightNav($event)"
               (onSelect)="onSelect($event)"
               (open)="opened()"
               [(ngModel)]="date"
               [disabled]="disabled"
               [dpDayPicker]="config"
               [maxDate]="validationMaxDate"
               [minDate]="validationMinDate"
               [placeholder]="placeholder"
               [required]="required"
               [theme]="material ? 'dp-material dp-main' : 'dp-main'"
               mode="daytime"
               name="daytimePickerDir"/>
        <div class="dp-validations">
          <div *ngIf="daytimeDirectivePickerModel.errors?.required" id="requiredValidation">required</div>
          <div *ngIf="daytimeDirectivePickerModel.errors?.format" id="formatValidation">invalid format</div>
          <div *ngIf="daytimeDirectivePickerModel.errors?.minDate">minDate invalid</div>
          <div *ngIf="daytimeDirectivePickerModel.errors?.maxDate">maxDate invalid</div>
        </div>
      </div>

      <div *ngIf="pickerMode === 'dayPicker'" class="dp-picker-day">
        <dp-date-picker #dateComponent
                        #datePickerModel="ngModel"
                        (close)="closed()"
                        (onChange)="log($event)"
                        (onLeftNav)="onLeftNav($event)"
                        (onRightNav)="onRightNav($event)"
                        (onSelect)="onSelect($event)"
                        (open)="opened()"
                        [(ngModel)]="date"
                        [config]="config"
                        [disabled]="disabled"
                        [displayDate]="displayDate"
                        [maxDate]="validationMaxDate"
                        [minDate]="validationMinDate"
                        [mode]="'day'"
                        [placeholder]="placeholder"
                        [required]="required"
                        [theme]="material ? 'dp-material dp-main' : 'dp-main'"
                        id="datePicker"
                        name="datePicker">
        </dp-date-picker>
        <div class="dp-validations">
          <div *ngIf="datePickerModel.errors?.required" id="requiredValidation">required</div>
          <div *ngIf="datePickerModel.errors?.format" id="formatValidation">invalid format
          </div>
          <div *ngIf="datePickerModel.errors?.minDate" id="minDateValidation">minDate invalid
          </div>
          <div *ngIf="datePickerModel.errors?.maxDate" id="maxDateValidation">maxDate invalid
          </div>
        </div>
      </div>

      <div *ngIf="pickerMode === 'dayInline'" class="dp-inline-day">
        <dp-day-calendar
          #dateComponent
          #dayCalendar="ngModel"
          (ngModelChange)="log($event)"
          (onLeftNav)="onLeftNav($event)"
          (onRightNav)="onRightNav($event)"
          (onSelect)="onSelect($event)"
          [(ngModel)]="dates"
          [config]="config"
          [maxDate]="validationMaxDate"
          [minDate]="validationMinDate"
          [required]="required"
          [theme]="material ? 'dp-material dp-main' : 'dp-main'"
          name="dayCalendar">
        </dp-day-calendar>

        <div class="dp-validations">
          <div *ngIf="dayCalendar.errors && dayCalendar.errors.required" id="dayRequiredValidation">required</div>
          <div *ngIf="dayCalendar.errors && dayCalendar.errors.minDate" id="dayMinDateValidation">minDate invalid</div>
          <div *ngIf="dayCalendar.errors && dayCalendar.errors.maxDate" id="dayMaxDateValidation">maxDate invalid</div>
        </div>
      </div>

      <div *ngIf="pickerMode === 'dayDirective'" class="dp-picker-day-directive" id="dayDirective">
        <input #dateComponent="dpDayPicker"
               #dateDirectivePicker="dpDayPicker"
               #dateDirectivePickerModel="ngModel"
               (close)="closed()"
               (onChange)="log($event)"
               (onLeftNav)="onLeftNav($event)"
               (onRightNav)="onRightNav($event)"
               (onSelect)="onSelect($event)"
               (open)="opened()"
               [(ngModel)]="date"
               [disabled]="disabled"
               [dpDayPicker]="config"
               [maxDate]="validationMaxDate"
               [minDate]="validationMinDate"
               [placeholder]="placeholder"
               [required]="required"
               [theme]="material ? 'dp-material dp-main' : 'dp-main'"
               name="datePicker"/>
        <div class="dp-validations">
          <div *ngIf="dateDirectivePickerModel.errors?.required || false" id="requiredValidation">required</div>
          <div *ngIf="dateDirectivePickerModel.errors && dateDirectivePickerModel.errors.format" id="formatValidation">
            invalid format
          </div>
          <div *ngIf="dateDirectivePickerModel.errors?.minDate">minDate invalid</div>
          <div *ngIf="dateDirectivePickerModel.errors?.maxDate">maxDate invalid</div>
        </div>
      </div>

      <div *ngIf="pickerMode === 'dayDirectiveReactive'" class="dp-picker-day-directive" id="datePickerDirDayReactive">
        <form [formGroup]="formGroup">
          <input #dateComponent="dpDayPicker"
                 #dateDirectivePicker="dpDayPicker"
                 (close)="closed()"
                 (onChange)="date = $event; log($event)"
                 (onLeftNav)="onLeftNav($event)"
                 (onRightNav)="onRightNav($event)"
                 (onSelect)="onSelect($event)"
                 (open)="opened()"
                 [dpDayPicker]="config"
                 [placeholder]="placeholder"
                 [required]="required"
                 [theme]="material ? 'dp-material dp-main' : 'dp-main'"
                 formControlName="datePicker"
                 name="datePicker"/>
          <div *ngIf="formGroup.get('datePicker').touched" class="dp-validations">
            <div *ngIf="formGroup.get('datePicker').hasError('required')"
                 id="reactiveRequiredValidation">
              required
            </div>
            <div *ngIf="formGroup.get('datePicker').hasError('format')" id="formatValidation">
              invalid format
            </div>
            <div *ngIf="formGroup.get('datePicker').hasError('minDate')"
                 id="reactiveMinDateValidation">minDate invalid
            </div>
            <div *ngIf="formGroup.get('datePicker').hasError('maxDate')" id="reactiveMaxDateValidation">maxDate invalid
            </div>
          </div>
        </form>
      </div>

      <div *ngIf="pickerMode === 'monthPicker'" class="dp-picker-month">
        <dp-date-picker #dateComponent
                        #monthPicker="ngModel"
                        (close)="closed()"
                        (onChange)="log($event)"
                        (onLeftNav)="onLeftNav($event)"
                        (onRightNav)="onRightNav($event)"
                        (onSelect)="onSelect($event)"
                        (open)="opened()"
                        [(ngModel)]="date"
                        [config]="config"
                        [disabled]="disabled"
                        [displayDate]="displayDate"
                        [maxDate]="validationMaxDate"
                        [minDate]="validationMinDate"
                        [mode]="'month'"
                        [placeholder]="placeholder"
                        [required]="required"
                        [theme]="material ? 'dp-material dp-main' : 'dp-main'"
                        id="monthPicker"
                        name="monthPicker">
        </dp-date-picker>
        <div class="dp-validations">
          <div *ngIf="monthPicker.errors && monthPicker.errors.required" id="monthPickerRequiredValidation">required
          </div>
          <div *ngIf="monthPicker.errors && monthPicker.errors.format" id="formatValidation">invalid format
          </div>
          <div *ngIf="monthPicker.errors && monthPicker.errors.minDate" id="monthPickerMinDateValidation">minDate
            invalid
          </div>
          <div *ngIf="monthPicker.errors && monthPicker.errors.maxDate" id="monthPickerMaxDateValidation">maxDate
            invalid
          </div>
        </div>
      </div>

      <div *ngIf="pickerMode === 'monthInline'" class="dp-inline-month">
        <dp-month-calendar
          #dateComponent
          #monthInline="ngModel"
          (ngModelChange)="log($event)"
          (onLeftNav)="onLeftNav($event)"
          (onRightNav)="onRightNav($event)"
          (onSelect)="onSelect($event)"
          [(ngModel)]="dates"
          [config]="config"
          [maxDate]="validationMaxDate"
          [minDate]="validationMinDate"
          [required]="required"
          [theme]="material ? 'dp-material dp-main' : 'dp-main'"
          name="monthInline">
        </dp-month-calendar>
        <div class="dp-validations">
          <div *ngIf="monthInline.errors && monthInline.errors.required" id="monthInlineRequiredValidation">required
          </div>
          <div *ngIf="monthInline.errors && monthInline.errors.minDate" id="monthInlineMinDateValidation">minDate
            invalid
          </div>
          <div *ngIf="monthInline.errors && monthInline.errors.maxDate" id="monthInlineMaxDateValidation">maxDate
            invalid
          </div>
        </div>
      </div>

      <div *ngIf="pickerMode === 'monthDirective'" class="dp-picker-month-directive" id="datePickerDirMonth">
        <input #dateComponent="dpDayPicker"
               #dateDirectivePicker="dpDayPicker"
               #dateDirectivePickerModel="ngModel"
               (close)="closed()"
               (onChange)="log($event)"
               (onLeftNav)="onLeftNav($event)"
               (onRightNav)="onRightNav($event)"
               (onSelect)="onSelect($event)"
               (open)="opened()"
               [(ngModel)]="date"
               [disabled]="disabled"
               [dpDayPicker]="config"
               [placeholder]="placeholder"
               [required]="required"
               [theme]="material ? 'dp-material dp-main' : 'dp-main'"
               mode="month"
               name="datePicker"/>
        <div class="dp-validations">
          <div *ngIf="dateDirectivePickerModel.errors?.required || false" id="requiredValidation">required</div>
          <div *ngIf="dateDirectivePickerModel.errors && dateDirectivePickerModel.errors.format" id="formatValidation">
            invalid format
          </div>
        </div>
      </div>

      <div *ngIf="pickerMode === 'timePicker'" class="dp-picker-time">
        <dp-date-picker #dateComponent
                        #timePicker="ngModel"
                        (close)="closed()"
                        (onChange)="log($event)"
                        (onSelect)="onSelect($event)"
                        (open)="opened()"
                        [(ngModel)]="date"
                        [config]="config"
                        [disabled]="disabled"
                        [maxTime]="validationMaxTime"
                        [minTime]="validationMinTime"
                        [mode]="'time'"
                        [placeholder]="placeholder"
                        [required]="required"
                        [theme]="material ? 'dp-material dp-main' : 'dp-main'"
                        id="timePicker"
                        name="timePicker">
        </dp-date-picker>
        <div class="dp-validations">
          <div *ngIf="timePicker.errors && timePicker.errors.required" id="timePickerRequiredValidation">required
          </div>
          <div *ngIf="timePicker.errors && timePicker.errors.format" id="formatValidation">invalid format
          </div>
          <div *ngIf="timePicker.errors && timePicker.errors.minTime" id="timePickerMinTimeValidation">minTime
            invalid
          </div>
          <div *ngIf="timePicker.errors && timePicker.errors.maxTime" id="timePickerMaxTimeValidation">maxTime
            invalid
          </div>
        </div>
      </div>

      <div *ngIf="pickerMode === 'timeInline'" class="dp-inline-time">
        <dp-time-select
          #dateComponent
          #timeInline="ngModel"
          (ngModelChange)="log($event)"
          (onSelect)="onSelect($event)"
          [(ngModel)]="date"
          [config]="config"
          [maxDate]="validationMaxDate"
          [maxTime]="validationMaxTime"
          [minDate]="validationMinDate"
          [minTime]="validationMinTime"
          [theme]="material ? 'dp-material dp-main' : 'dp-main'"
          name="timeInline">
        </dp-time-select>

        <div class="dp-validations">
          <div *ngIf="timeInline.errors && timeInline.errors.required" id="timeInlineRequiredValidation">required
          </div>
          <div *ngIf="timeInline.errors && timeInline.errors.minTime" id="timeInlineMinTimeValidation">minTime
            invalid
          </div>
          <div *ngIf="timeInline.errors && timeInline.errors.maxTime" id="timeInlineMaxTimeValidation">maxTime
            invalid
          </div>
        </div>
      </div>

      <div *ngIf="pickerMode === 'timeDirective'" class="dp-picker-time-directive" id="timePickerDirDay">
        <input #dateComponent="dpDayPicker"
               #dateDirectivePicker="dpDayPicker"
               #timeDirectivePickerModel="ngModel"
               (close)="closed()"
               (onChange)="log($event)"
               (onSelect)="onSelect($event)"
               (open)="opened()"
               [(ngModel)]="date"
               [disabled]="disabled"
               [dpDayPicker]="config"
               [maxTime]="validationMaxTime"
               [minTime]="validationMinTime"
               [placeholder]="placeholder"
               [required]="required"
               [theme]="material ? 'dp-material dp-main' : 'dp-main'"
               mode="time"
               name="timePickerDir"/>
        <div class="dp-validations">
          <div *ngIf="timeDirectivePickerModel.errors?.required || false" id="requiredValidation">required</div>
          <div *ngIf="timeDirectivePickerModel.errors && timeDirectivePickerModel.errors.format" id="formatValidation">
            invalid format
          </div>
          <div *ngIf="timeDirectivePickerModel.errors?.minTime">minTime invalid</div>
          <div *ngIf="timeDirectivePickerModel.errors?.maxTime">maxTime invalid</div>
        </div>
      </div>
    </form>

    <div class="dp-github-container">
      <a aria-label="Star vlio20/angular-datepicker on GitHub"
         class="github-button"
         data-show-count="true"
         data-size="large"
         href="https://github.com/vlio20/angular-datepicker">
        Star
      </a>
    </div>
  </div>

  <div [ngClass]="{'dp-inline': pickerMode.endsWith('Inline'),
                                           'dp-inline-day': pickerMode == 'dayInline',
                                           'dp-inline-month': pickerMode == 'monthInline',
                                           'dp-inline-time': pickerMode == 'timeInline',
                                           'dp-inline-day-time': pickerMode == 'daytimeInline'}"
       class="dp-page-content">
    <div class="dp-attributes">
      <h3 class="dp-options-section">Attribute options</h3>
      <div *ngIf="isValidConfig('theme')" class="dp-option">
      <span class="dp-option-header">
        Theme (theme | for example the built in material theme - dp-material):
      </span>
        <div class="dp-option-playground">
          <label>Material Theme
            <input [(ngModel)]="material" [value]="true" id="themeOn" name="style" type="radio">
          </label>
          <label>No Theme
            <input [(ngModel)]="material" [value]="false" id="themeOff" name="style" type="radio">
          </label>
        </div>
      </div>

      <div *ngIf="isValidConfig('disabled')" class="dp-option">
      <span class="dp-option-header">
        Disabled (disabled):
      </span>
        <div class="dp-option-playground">
          <label>Enabled
            <input (ngModelChange)="toggleDisabled($event)"
                   [(ngModel)]="disabled"
                   [value]="false"
                   id="inputEnabledRadio"
                   name="disabled"
                   type="radio">
          </label>
          <label>Disabled
            <input (ngModelChange)="toggleDisabled($event)"
                   [(ngModel)]="disabled"
                   [value]="true"
                   id="inputDisabledRadio"
                   name="disabled"
                   type="radio">
          </label>
        </div>
      </div>

      <div *ngIf="isValidConfig('required')" class="dp-option">
      <span class="dp-option-header">
        Required Validation (required):
      </span>
        <div class="dp-option-playground">
          <label>Required
            <input (ngModelChange)="validatorsChanged()" [(ngModel)]="required" [value]="true" id="enableRequiredRadio"
                   name="required" type="radio">
          </label>
          <label>Not Required
            <input (ngModelChange)="validatorsChanged()" [(ngModel)]="required" [value]="false"
                   id="disableRequiredRadio"
                   name="required" type="radio">
          </label>
        </div>
      </div>

      <div *ngIf="isValidConfig('minValidation')" class="dp-option">
        <span class="dp-option-header">
          Min-Date Validation (minDate):
        </span>
        <div class="dp-option-playground">
          <dp-date-picker (ngModelChange)="validatorsChanged()"
                          [(ngModel)]="validationMinDate"
                          [config]="{format: config.format}"
                          [mode]="pickerMode.startsWith('daytime') ? 'daytime' : 'day'"
                          id="minDatePicker"
                          placeholder="Select a min date"
                          theme="dp-material">
          </dp-date-picker>
        </div>
      </div>

      <div *ngIf="isValidConfig('maxValidation')" class="dp-option">
        <span class="dp-option-header">
          Max-Date Validation (maxDate):
        </span>
        <div class="dp-option-playground">
          <dp-date-picker (ngModelChange)="validatorsChanged()"
                          [(ngModel)]="validationMaxDate"
                          [config]="{format: config.format}"
                          [mode]="pickerMode.startsWith('daytime') ? 'daytime' : 'day'"
                          id="maxDatePicker"
                          placeholder="Select a max date"
                          theme="dp-material">
          </dp-date-picker>
        </div>
      </div>

      <div *ngIf="isValidConfig('displayDate')" class="dp-option">
        <span class="dp-option-header">
          Display Date (displayDate):
        </span>
        <div class="dp-option-playground">
          <dp-date-picker [(ngModel)]="displayDate"
                          [displayDate]="displayDate"
                          id="displayDate"
                          mode="day"
                          placeholder="Select a display date"
                          theme="dp-material">
          </dp-date-picker>
        </div>
      </div>

      <div *ngIf="isValidConfig('minTimeValidation')" class="dp-option">
      <span class="dp-option-header">
        Min-Time Validation (minTime):
      </span>
        <div class="dp-option-playground">
          <dp-date-picker (ngModelChange)="validatorsChanged()"
                          [(ngModel)]="validationMinTime"
                          [config]="{format: 'HH:mm:ss', locale: config.locale}"
                          id="minTimeValidation"
                          mode="time"
                          placeholder="Select a min time"
                          theme="dp-material">
          </dp-date-picker>
        </div>
      </div>

      <div *ngIf="isValidConfig('maxTimeValidation')" class="dp-option">
      <span class="dp-option-header">
        Max-Time Validation (maxTime):
      </span>
        <div class="dp-option-playground">
          <dp-date-picker (ngModelChange)="validatorsChanged()"
                          [(ngModel)]="validationMaxTime"
                          [config]="{format: 'HH:mm:ss', locale: config.locale}"
                          id="maxTimeValidation"
                          mode="time"
                          placeholder="Select a max time"
                          theme="dp-material">
          </dp-date-picker>
        </div>
      </div>

      <div *ngIf="isValidConfig('placeholder')" class="dp-option">
      <span class="dp-option-header">
        Placeholder (placeholder):
      </span>
        <div class="dp-option-playground">
          <input [(ngModel)]="placeholder" id="placeholderInput" placeholder="Put a placeholder" type="text"/>
        </div>
      </div>

    </div>

    <div class="dp-configs">
      <h3 class="dp-options-section">Config options</h3>

      <div *ngIf="isValidConfig('locale')" class="dp-option">
        <span class="dp-option-header">
          Locale (locale):
        </span>
        <div class="dp-option-playground">
          <select (change)="configChanged('locale', config.locale)"
                  [(ngModel)]="config.locale"
                  id="locale">
            <option *ngFor="let lang of LANGS" [value]="lang"> {{lang}}</option>
          </select>
        </div>
      </div>

      <div *ngIf="isValidConfig('firstDayOfWeek')" class="dp-option">
        <span class="dp-option-header">
          First Day of The week (firstDayOfWeek):
        </span>
        <div class="dp-option-playground">
          <select (change)="configChanged('firstDayOfWeek', config.firstDayOfWeek)"
                  [(ngModel)]="config.firstDayOfWeek"
                  id="firstDayOfWeekSelect">
            <option *ngFor="let day of DAYS" [value]="day"> {{day}}</option>
          </select>
        </div>
      </div>

      <div *ngIf="isValidConfig('format')" class="dp-option">
        <span class="dp-option-header">
          Date Format (format):
        </span>
        <div class="dp-option-playground">
          <input (change)="configChanged('format', config.format)"
                 [(ngModel)]="config.format"
                 id="dateFormat"
                 type="text">
        </div>
      </div>

      <div *ngIf="isValidConfig('monthFormat')" class="dp-option">
        <span class="dp-option-header">
          Month Format (monthFormat):
        </span>
        <div class="dp-option-playground">
          <input (change)="configChanged('monthFormat', config.monthFormat)"
                 [(ngModel)]="config.monthFormat"
                 id="monthFormatInput"
                 type="text">
        </div>
      </div>

      <div *ngIf="isValidConfig('min')" class="dp-option">
        <span class="dp-option-header">
          Min Selectable Date (min):
        </span>
        <div class="dp-option-playground">
          <dp-date-picker (ngModelChange)="configChanged('min', config.min)"
                          [(ngModel)]="config.min"
                          [config]="{format: config.format}"
                          [mode]="pickerMode.startsWith('daytime') ? 'daytime' : 'day'"
                          id="minSelectable"
                          placeholder="Select a min date"
                          theme="dp-material">
          </dp-date-picker>
        </div>
      </div>

      <div *ngIf="isValidConfig('max')" class="dp-option">
        <span class="dp-option-header">
          Max Selectable Date (max):
        </span>
        <div class="dp-option-playground">
          <dp-date-picker (ngModelChange)="configChanged('max', config.max)"
                          [(ngModel)]="config.max"
                          [config]="{format: config.format}"
                          [mode]="pickerMode.startsWith('daytime') ? 'daytime' : 'day'"
                          id="maxSelectable"
                          placeholder="Select a max date"
                          theme="dp-material">
          </dp-date-picker>
        </div>
      </div>

      <div *ngIf="isValidConfig('minTime')" class="dp-option">
        <span class="dp-option-header">
          Min Selectable Time (minTime):
        </span>
        <div class="dp-option-playground">
          <dp-date-picker (ngModelChange)="configChanged('minTime', config.minTime)"
                          [(ngModel)]="config.minTime"
                          [config]="{format: 'HH:mm:ss'}"
                          id="minTimeSelectable"
                          mode="time"
                          placeholder="Select a min time"
                          theme="dp-material">
          </dp-date-picker>
        </div>
      </div>

      <div *ngIf="isValidConfig('maxTime')" class="dp-option">
        <span class="dp-option-header">
          Max Selectable Time (maxTime):
        </span>
        <div class="dp-option-playground">
          <dp-date-picker (ngModelChange)="configChanged('maxTime', config.maxTime)"
                          [(ngModel)]="config.maxTime"
                          [config]="{format: 'HH:mm:ss'}"
                          id="maxTimeSelectable"
                          mode="time"
                          placeholder="Select a max time"
                          theme="dp-material">
          </dp-date-picker>
        </div>
      </div>

      <div *ngIf="isValidConfig('allowMultiSelect')" class="dp-option">
        <span class="dp-option-header">
          Allow Multiple Selection (allowMultiSelect):
        </span>
        <div class="dp-option-playground">
          <label>Single
            <input (ngModelChange)="configChanged('allowMultiSelect', 'single')"
                   [(ngModel)]="config.allowMultiSelect"
                   [value]="false"
                   id="disableMultiselect"
                   name="allowMultiSelect"
                   type="radio">
          </label>
          <label>Multiple
            <input (ngModelChange)="configChanged('allowMultiSelect', 'multiple')"
                   [(ngModel)]="config.allowMultiSelect"
                   [value]="true"
                   id="enableMultiselect"
                   name="allowMultiSelect"
                   type="radio">
          </label>
        </div>
      </div>

      <div *ngIf="isValidConfig('closeOnSelect')" class="dp-option">
        <span class="dp-option-header">
          Close after selection (closeOnSelect):
        </span>
        <div class="dp-option-playground">
          <label>Close
            <input (ngModelChange)="configChanged('closeOnSelect', 'true')"
                   [(ngModel)]="config.closeOnSelect"
                   [value]="true"
                   id="closeOnSelect"
                   name="closeOnSelect"
                   type="radio">
          </label>
          <label>Don't Close
            <input (ngModelChange)="configChanged('closeOnSelect', 'false')"
                   [(ngModel)]="config.closeOnSelect"
                   [value]="false" id="noCloseOnSelect"
                   name="closeOnSelect"
                   type="radio">
          </label>
        </div>
      </div>

      <div *ngIf="isValidConfig('closeOnSelectDelay')" class="dp-option">
        <span class="dp-option-header">
          Closing Delay in ms (closeOnSelectDelay):
        </span>
        <div class="dp-option-playground">
          <input (change)="configChanged('closeOnSelectDelay', config.closeOnSelectDelay)"
                 [(ngModel)]="config.closeOnSelectDelay"
                 id="closeDelay"
                 type="number">
        </div>
      </div>

      <div *ngIf="isValidConfig('openOnFocus')" class="dp-option">
        <span class="dp-option-header">
          Show picker when input receives focus (openOnFocus):
        </span>
        <div class="dp-option-playground">
          <label>No
            <input (ngModelChange)="configChanged('openOnFocus', 'false')"
                   [(ngModel)]="config.openOnFocus"
                   [value]="false"
                   id="noOpenOnFocus"
                   name="openOnFocus"
                   type="radio">
          </label>
          <label>Yes
            <input (ngModelChange)="configChanged('openOnFocus', 'true')"
                   [(ngModel)]="config.openOnFocus"
                   [value]="true"
                   id="yesOpenOnFocus"
                   name="openOnFocus"
                   type="radio">
          </label>
        </div>
      </div>

      <div *ngIf="isValidConfig('openOnClick')" class="dp-option">
        <span class="dp-option-header">
          Show picker when input is clicked (openOnClick):
        </span>
        <div class="dp-option-playground">
          <label>No
            <input (ngModelChange)="configChanged('openOnClick', 'false')"
                   [(ngModel)]="config.openOnClick"
                   [value]="false"
                   id="noOpenOnClick"
                   name="openOnClick"
                   type="radio">
          </label>
          <label>Yes
            <input (ngModelChange)="configChanged('openOnClick', 'true')"
                   [(ngModel)]="config.openOnClick"
                   [value]="true"
                   id="yesOpenOnClick"
                   name="openOnClick"
                   type="radio">
          </label>
        </div>
      </div>

      <div *ngIf="isValidConfig('onOpenDelay')" class="dp-option">
        <span class="dp-option-header">
          Open Delay in ms (onOpenDelay):
        </span>
        <div class="dp-option-playground">
          <input (change)="configChanged('onOpenDelay', config.onOpenDelay)"
                 [(ngModel)]="config.onOpenDelay"
                 id="onOpenDelay"
                 type="number">
        </div>
      </div>

      <div *ngIf="isValidConfig('weekdayFormat')" class="dp-option">
        <span class="dp-option-header">
          Weekday Format (weekDayFormat):
        </span>
        <div class="dp-option-playground">
          <input (change)="configChanged('weekDayFormat', config.weekDayFormat)"
                 [(ngModel)]="config.weekDayFormat"
                 id="weekDaysFormat"
                 type="text">
        </div>
      </div>

      <div *ngIf="isValidConfig('disableKeypress')" class="dp-option">
        <span class="dp-option-header">
          Disable keyboard on input (disableKeypress):
        </span>
        <div class="dp-option-playground">
          <label>Disabled
            <input (ngModelChange)="configChanged('disableKeypress', 'true')"
                   [(ngModel)]="config.disableKeypress"
                   [value]="true"
                   name="disableKeypress"
                   type="radio">
          </label>
          <label>Enabled
            <input (ngModelChange)="configChanged('disableKeypress', 'false')" [(ngModel)]="config.disableKeypress"
                   [value]="false" name="disableKeypress"
                   type="radio">
          </label>
        </div>
      </div>

      <div *ngIf="isValidConfig('drops')" class="dp-option">
        <span class="dp-option-header">
          Drops (drops):
        </span>
        <div class="dp-option-playground">
          <label>Down
            <input (ngModelChange)="configChanged('drops', 'down')"
                   [(ngModel)]="config.drops"
                   name="drops"
                   type="radio"
                   value="down">
          </label>
          <label>Up
            <input (ngModelChange)="configChanged('drops', 'up')"
                   [(ngModel)]="config.drops"
                   name="drops"
                   type="radio"
                   value="up">
          </label>
          <label>Auto
            <input (ngModelChange)="configChanged('drops', null)"
                   [(ngModel)]="config.drops"
                   name="drops"
                   type="radio"
                   value="null">
          </label>
        </div>
      </div>

      <div *ngIf="isValidConfig('opens')" class="dp-option">
        <span class="dp-option-header">
          Opens (opens):
        </span>
        <div class="dp-option-playground">
          <label>Right
            <input (ngModelChange)="configChanged('opens', 'right')"
                   [(ngModel)]="config.opens"
                   name="opens"
                   type="radio"
                   value="right">
          </label>
          <label>Left
            <input (ngModelChange)="configChanged('opens', 'left')"
                   [(ngModel)]="config.opens"
                   name="opens"
                   type="radio"
                   value="left">
          </label>
          <label>Auto
            <input (ngModelChange)="configChanged('opens', null)"
                   [(ngModel)]="config.opens"
                   name="opens"
                   type="radio"
                   value="null">
          </label>
        </div>
      </div>

      <div *ngIf="isValidConfig('hideInputContainer')" class="dp-option">
        <span class="dp-option-header">
          Hide Input Container (hideInputContainer):
        </span>
        <div class="dp-option-playground">
          <label>Hidden
            <input (ngModelChange)="configChanged('hideInputContainer', 'hidden')"
                   [(ngModel)]="config.hideInputContainer"
                   [value]="true"
                   id="hideInputRadio"
                   name="hideInputContainer"
                   type="radio">
          </label>
          <label>Shown
            <input (ngModelChange)="configChanged('hideInputContainer', 'shown')"
                   [(ngModel)]="config.hideInputContainer"
                   [value]="false"
                   id="showInputRadio"
                   name="hideInputContainer"
                   type="radio">
          </label>
        </div>
      </div>


      <div *ngIf="isValidConfig('showNearMonthDays')" class="dp-option">
        <span class="dp-option-header">
          Show near month days (showNearMonthDays):
        </span>
        <div class="dp-option-playground">
          <label>Show
            <input (ngModelChange)="configChanged('showNearMonthDays', 'true')"
                   [(ngModel)]="config.showNearMonthDays"
                   [value]="true"
                   id="showNearMonthDaysRadio"
                   name="showNearMonthDays"
                   type="radio">
          </label>
          <label>Hide
            <input (ngModelChange)="configChanged('showNearMonthDays', 'false')"
                   [(ngModel)]="config.showNearMonthDays"
                   [value]="false"
                   id="hideNearMonthDaysRadio" name="showNearMonthDays"
                   type="radio">
          </label>
        </div>
      </div>

      <div *ngIf="isValidConfig('showWeekNumbers')" class="dp-option">
        <span class="dp-option-header">
          Show week numbers (showWeekNumbers):
        </span>
        <div class="dp-option-playground">
          <label>Show
            <input (ngModelChange)="configChanged('showWeekNumbers', 'true')"
                   [(ngModel)]="config.showWeekNumbers"
                   [value]="true"
                   id="showWeekNumbersRadio"
                   name="showWeekNumbers"
                   type="radio">
          </label>
          <label>Hide
            <input (ngModelChange)="configChanged('showWeekNumbers', 'false')"
                   [(ngModel)]="config.showWeekNumbers"
                   [value]="false"
                   id="hideWeekNumbersRadio"
                   name="showWeekNumbers"
                   type="radio">
          </label>
        </div>
      </div>

      <div *ngIf="isValidConfig('enableMonthSelector')" class="dp-option">
        <span class="dp-option-header">
          Enable month selector (enableMonthSelector):
        </span>
        <div class="dp-option-playground">
          <label>Enabled
            <input (ngModelChange)="configChanged('enableMonthSelector', 'true')"
                   [(ngModel)]="config.enableMonthSelector"
                   [value]="true"
                   id="enableMonthSelector"
                   name="enableMonthSelector"
                   type="radio">
          </label>
          <label>Disabled
            <input (ngModelChange)="configChanged('enableMonthSelector', 'false')"
                   [(ngModel)]="config.enableMonthSelector"
                   [value]="false"
                   id="disableMonthSelector"
                   name="enableMonthSelector"
                   type="radio">
          </label>
        </div>
      </div>

      <div *ngIf="isValidConfig('yearFormat')" class="dp-option">
        <span class="dp-option-header">
          Year Format (yearFormat):
        </span>
        <div class="dp-option-playground">
          <input (change)="configChanged('yearFormat', config.yearFormat)"
                 [(ngModel)]="config.yearFormat"
                 id="yearFormat"
                 type="text">
        </div>
      </div>

      <div *ngIf="isValidConfig('showGoToCurrent')" class="dp-option">
        <span class="dp-option-header">
          Show go to current button (showGoToCurrent):
        </span>
        <div class="dp-option-playground">
          <label>Enabled
            <input (ngModelChange)="configChanged('showGoToCurrent', 'true')"
                   [(ngModel)]="config.showGoToCurrent"
                   [value]="true"
                   id="showGoToCurrent"
                   name="showGoToCurrent"
                   type="radio">
          </label>
          <label>Disabled
            <input (ngModelChange)="configChanged('showGoToCurrent', 'false')"
                   [(ngModel)]="config.showGoToCurrent"
                   [value]="false"
                   id="hideGoToCurrent"
                   name="showGoToCurrent"
                   type="radio">
          </label>
        </div>
      </div>

      <div *ngIf="isValidConfig('hideOnOutsideClick')" class="dp-option">
        <span class="dp-option-header">
          Hide on outside click (hideOnOutsideClick):
        </span>
        <div class="dp-option-playground">
          <label>Enabled
            <input (ngModelChange)="configChanged('hideOnOutsideClick', 'true')"
                   [(ngModel)]="config.hideOnOutsideClick"
                   [value]="true"
                   id="hideOnOutsideClick"
                   name="hideOnOutsideClick"
                   type="radio">
          </label>
          <label>Disabled
            <input (ngModelChange)="configChanged('hideOnOutsideClick', 'false')"
                   [(ngModel)]="config.hideOnOutsideClick"
                   [value]="false"
                   id="showOnOutsideClick"
                   name="hideOnOutsideClick"
                   type="radio">
          </label>
        </div>
      </div>

      <div *ngIf="isValidConfig('unSelectOnClick')" class="dp-option">
        <span class="dp-option-header">
          Allow un select selected date (unSelectOnClick):
        </span>
        <div class="dp-option-playground">
          <label>Enabled
            <input (ngModelChange)="configChanged('unSelectOnClick', 'true')"
                   [(ngModel)]="config.unSelectOnClick"
                   [value]="true"
                   id="enableUnSelect"
                   name="unSelectOnClick"
                   type="radio">
          </label>
          <label>Disabled
            <input (ngModelChange)="configChanged('showGoToCurrent', 'false')"
                   [(ngModel)]="config.unSelectOnClick"
                   [value]="false"
                   id="disableUnSelect"
                   name="unSelectOnClick"
                   type="radio">
          </label>
        </div>
      </div>

      <div *ngIf="isValidConfig('dayBtnFormat')" class="dp-option">
        <span class="dp-option-header">
          Day Button Format (dayBtnFormat):
        </span>
        <div class="dp-option-playground">
          <input (change)="configChanged('dayBtnFormat', config.dayBtnFormat)"
                 [(ngModel)]="config.dayBtnFormat"
                 id="dayBtnFormat"
                 type="text">
        </div>
      </div>

      <div *ngIf="isValidConfig('monthBtnFormat')" class="dp-option">
        <span class="dp-option-header">
          Month Button Format (monthBtnFormat):
        </span>
        <div class="dp-option-playground">
          <input (change)="configChanged('monthBtnFormat', config.monthBtnFormat)"
                 [(ngModel)]="config.monthBtnFormat"
                 id="monthBtnFormat"
                 type="text">
        </div>
      </div>

      <div *ngIf="isValidConfig('hours12Format')" class="dp-option">
        <span class="dp-option-header">
          12 Hour Format (hours12Format):
        </span>
        <div class="dp-option-playground">
          <input (change)="configChanged('hours12Format', config.hours12Format)"
                 [(ngModel)]="config.hours12Format"
                 id="hours12Format"
                 type="text">
        </div>
      </div>

      <div *ngIf="isValidConfig('hours24Format')" class="dp-option">
        <span class="dp-option-header">
          24 Hour Format (hours24Format):
        </span>
        <div class="dp-option-playground">
          <input
              (change)="configChanged('hours24Format', config.hours24Format)"
              [(ngModel)]="config.hours24Format"
              id="hours24Format"
              type="text">
        </div>
      </div>

      <div *ngIf="isValidConfig('meridiemFormat')" class="dp-option">
        <span class="dp-option-header">
          Meridiem Format (meridiemFormat):
        </span>
        <div class="dp-option-playground">
          <input (change)="configChanged('meridiemFormat', config.meridiemFormat)"
                 [(ngModel)]="config.meridiemFormat"
                 id="meridiemFormat"
                 type="text">
        </div>
      </div>

      <div *ngIf="isValidConfig('minutesFormat')" class="dp-option">
        <span class="dp-option-header">
          Minutes Format (minutesFormat):
        </span>
        <div class="dp-option-playground">
          <input (change)="configChanged('minutesFormat', config.minutesFormat)"
                 [(ngModel)]="config.minutesFormat"
                 id="minutesFormat"
                 type="text">
        </div>
      </div>

      <div *ngIf="isValidConfig('minutesInterval')" class="dp-option">
        <span class="dp-option-header">
          Minutes Interval (minutesInterval):
        </span>
        <div class="dp-option-playground">
          <input (change)="configChanged('minutesInterval', config.minutesInterval)"
                 [(ngModel)]="config.minutesInterval"
                 id="minutesInterval"
                 type="number">
        </div>
      </div>

      <div *ngIf="isValidConfig('secondsFormat')" class="dp-option">
        <span class="dp-option-header">
          Seconds Format (secondsFormat):
        </span>
        <div class="dp-option-playground">
          <input (change)="configChanged('secondsFormat', config.secondsFormat)"
                 [(ngModel)]="config.secondsFormat"
                 id="secondsFormat"
                 type="text">
        </div>
      </div>

      <div *ngIf="isValidConfig('secondsInterval')" class="dp-option">
        <span class="dp-option-header">
          Seconds Interval (secondsInterval):
        </span>
        <div class="dp-option-playground">
          <input (change)="configChanged('secondsInterval', config.secondsInterval)"
                 [(ngModel)]="config.secondsInterval"
                 id="secondsInterval"
                 type="number">
        </div>
      </div>

      <div *ngIf="isValidConfig('showSeconds')" class="dp-option">
        <span class="dp-option-header">
          Show seconds (showSeconds):
        </span>
        <div class="dp-option-playground">
          <label>Enabled
            <input (ngModelChange)="configChanged('showSeconds', 'true')"
                   [(ngModel)]="config.showSeconds"
                   [value]="true"
                   id="showSeconds"
                   name="showSeconds"
                   type="radio">
          </label>
          <label>Disabled
            <input (ngModelChange)="configChanged('showSeconds', 'false')"
                   [(ngModel)]="config.showSeconds"
                   [value]="false"
                   id="hideSeconds"
                   name="showSeconds"
                   type="radio">
          </label>
        </div>
      </div>

      <div *ngIf="isValidConfig('showTwentyFourHours')" class="dp-option">
        <span class="dp-option-header">
          Show twenty four hours (showTwentyFourHours):
        </span>
        <div class="dp-option-playground">
          <label>Enabled
            <input (ngModelChange)="configChanged('showTwentyFourHours', 'true')"
                   [(ngModel)]="config.showTwentyFourHours"
                   [value]="true"
                   id="showTwentyFourHours"
                   name="showTwentyFourHours"
                   type="radio">
          </label>
          <label>Disabled
            <input (ngModelChange)="configChanged('showTwentyFourHours', 'false')"
                   [(ngModel)]="config.showTwentyFourHours"
                   [value]="false"
                   id="hideTwentyFourHours"
                   name="showTwentyFourHours"
                   type="radio">
          </label>
        </div>
      </div>

      <div *ngIf="isValidConfig('timeSeparator')" class="dp-option">
        <span class="dp-option-header">
          Time Separator (timeSeparator):
        </span>
        <div class="dp-option-playground">
          <input (change)="configChanged('timeSeparator', config.timeSeparator)"
                 [(ngModel)]="config.timeSeparator"
                 id="timeSeparator"
                 type="text">
        </div>
      </div>

      <div *ngIf="isValidConfig('showMultipleYearsNavigation')" class="dp-option">
        <span class="dp-option-header">
          Show multiple years navigation buttons (showMultipleYearsNavigation):
        </span>
        <div class="dp-option-playground">
          <label>Enabled
            <input (ngModelChange)="configChanged('showMultipleYearsNavigation', 'true')"
                   [(ngModel)]="config.showMultipleYearsNavigation"
                   [value]="true"
                   id="showMultipleYearsNavigation"
                   name="showMultipleYearsNavigation"
                   type="radio">
          </label>
          <label>Disabled
            <input (ngModelChange)="configChanged('showMultipleYearsNavigation', 'false')"
                   [(ngModel)]="config.showMultipleYearsNavigation"
                   [value]="false"
                   id="hideMultipleYearsNavigation"
                   name="showMultipleYearsNavigation"
                   type="radio">
          </label>
        </div>
      </div>

      <div *ngIf="isValidConfig('showMultipleYearsNavigation')" class="dp-option">
        <span class="dp-option-header">
          Multiple years navigate by (multipleYearsNavigateBy):
        </span>
        <div class="dp-option-playground">
          <input (change)="configChanged('multipleYearsNavigateBy', config.multipleYearsNavigateBy)"
                 [(ngModel)]="config.multipleYearsNavigateBy"
                 id="multipleYearsNavigateBy"
                 type="text">
        </div>
      </div>


      <div *ngIf="isValidConfig('returnedValueType')" class="dp-option">
        <span class="dp-option-header">
          Returned Value Type (returnedValueType):
        </span>
        <div class="dp-option-playground">
          <select (change)="configChanged('returnedValueType', config.returnedValueType)"
                  [(ngModel)]="config.returnedValueType"
                  id="returnedValueType">
            <option *ngFor="let type of dateTypes" [value]="type.value">{{type.name}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="dp-api">
      <h3 class="dp-options-section">API</h3>

      <div *ngIf="isValidConfig('apiopen')" class="dp-option">
        <span class="dp-option-header">
          Open (api.open()):
        </span>
        <div class="dp-option-playground">
          <button (click)="openCalendar()" id="openBtn">Open</button>
        </div>
      </div>

      <div *ngIf="isValidConfig('apiclose')" class="dp-option">
        <span class="dp-option-header">
          Close (api.close()):
        </span>
        <div class="dp-option-playground">
          <button (click)="closeCalendar()">Close</button>
        </div>
      </div>

      <div *ngIf="isValidConfig('moveCalendarTo')" class="dp-option">
        <span class="dp-option-header">
          Move (api.moveCalendarTo('14-01-1987')):
        </span>
        <div class="dp-option-playground">
          <button (click)="moveCalendarTo()" id="moveCalendarTo">Move</button>
        </div>
      </div>
    </div>
  </div>
</div>
