<div class="dp-demo-page">
  <div class="dp-description">
    <h2>Angular 2 Date Picker</h2>
    <p>
      This is a highly configurable date picker based built for Angular and above applications.<br>
      Bellow you will find an interactive demo with which you can play. <br>
      Installation guide can be found in the repo's README.md file.
    </p>
    <p>
      Feel free to open issues, suggest improvements and submit PRs.
    </p>
  </div>

  <br>
  <br>

  <div>
    <label>Mode:</label>
    <select id="pickerMode" [(ngModel)]="pickerMode" (ngModelChange)="modeChanged()">
      <option value="dayPicker">Day Picker</option>
      <option value="dayInline">Day Inline</option>
      <option value="dayDirective">Day Directive</option>
      <option value="monthPicker">Month Picker</option>
      <option value="monthInline">Month Inline</option>
      <option value="monthDirective">Month Directive</option>
    </select>
  </div>

  <div class="dp-demo-container" [ngClass]="{'dp-not-top': !isAtTop, 'dp-inline': pickerMode.endsWith('Inline')}">
    <form #form="ngForm">

      <div class="dp-picker-container" *ngIf="pickerMode === 'dayPicker'">
        <dp-date-picker id="datePicker"
                        name="datePicker"
                        #datePicker
                        #datePicker="ngModel"
                        [(ngModel)]="date"
                        (ngModelChange)="log($event)"
                        [type]="'day'"
                        [disabled]="disabled"
                        [minDate]="validationMinDate"
                        [maxDate]="validationMaxDate"
                        [required]="required"
                        [placeholder]="placeholder"
                        [config]="config"
                        [theme]="material ? 'dp-material' : ''">
        </dp-date-picker>
        <div class="dp-validations">
          <div id="requiredValidation" *ngIf="datePicker.errors && datePicker.errors.required">required</div>
          <div *ngIf="datePicker.errors && datePicker.errors.format">format invalid</div>
          <div id="minDateValidation" *ngIf="datePicker.errors && datePicker.errors.minDate">minDate invalid</div>
          <div id="maxDateValidation" *ngIf="datePicker.errors && datePicker.errors.maxDate">maxDate invalid</div>
        </div>
      </div>

      <div class="dp-picker-container" *ngIf="pickerMode === 'monthPicker'">
        <dp-date-picker id="monthPicker"
                        name="monthPicker"
                        #monthPicker="ngModel"
                        [(ngModel)]="date"
                        (ngModelChange)="log($event)"
                        [type]="'month'"
                        [disabled]="disabled"
                        [minDate]="validationMinDate"
                        [maxDate]="validationMaxDate"
                        [required]="required"
                        [placeholder]="placeholder"
                        [config]="config"
                        [theme]="material ? 'dp-material' : ''">
        </dp-date-picker>
        <div class="dp-validations">
          <div id="monthPickerRequiredValidation" *ngIf="monthPicker.errors && monthPicker.errors.required">required
          </div>
          <div *ngIf="monthPicker.errors && monthPicker.errors.format">format invalid</div>
          <div id="monthPickerMinDateValidation" *ngIf="monthPicker.errors && monthPicker.errors.minDate">minDate
            invalid
          </div>
          <div id="monthPickerMaxDateValidation" *ngIf="monthPicker.errors && datePicker.errors.maxDate">maxDate
            invalid
          </div>
        </div>
      </div>

      <div class="dp-inline" *ngIf="pickerMode === 'monthInline'">
        <dp-month-calendar
            name="monthInline"
            #monthInline="ngModel"
            [theme]="material ? 'dp-material' : ''"
            [(ngModel)]="dates"
            (ngModelChange)="log($event)"
            [minDate]="validationMinDate"
            [maxDate]="validationMaxDate"
            [required]="required"
            [config]="config">
        </dp-month-calendar>

        <div class="dp-validations">
          <div id="monthInlineRequiredValidation" *ngIf="monthInline.errors && monthInline.errors.required">required
          </div>
          <div id="monthInlineMinDateValidation" *ngIf="monthInline.errors && monthInline.errors.minDate">minDate
            invalid
          </div>
          <div id="monthInlineMaxDateValidation" *ngIf="monthInline.errors && monthInline.errors.maxDate">maxDate
            invalid
          </div>
        </div>
      </div>

      <div class="dp-inline" *ngIf="pickerMode === 'dayInline'">
        <dp-day-calendar
            name="dayCalendar"
            #dayCalendar="ngModel"
            [theme]="material ? 'dp-material' : ''"
            [(ngModel)]="dates"
            (ngModelChange)="log($event)"
            [minDate]="validationMinDate"
            [maxDate]="validationMaxDate"
            [required]="required"
            [config]="config">
        </dp-day-calendar>

        <div class="dp-validations">
          <div id="dayRequiredValidation" *ngIf="dayCalendar.errors && dayCalendar.errors.required">required</div>
          <div id="dayMinDateValidation" *ngIf="dayCalendar.errors && dayCalendar.errors.minDate">minDate invalid</div>
          <div id="dayMaxDateValidation" *ngIf="dayCalendar.errors && dayCalendar.errors.maxDate">maxDate invalid</div>
        </div>
      </div>

      <div class="dp-picker-container" id="datePicker" *ngIf="pickerMode === 'dayDirective'">
        <input [dpDayPicker]="config"
               name="datePicker"
               #dateDirectivePicker="dpDayPicker"
               #dateDirectivePickerModel="ngModel"
               [theme]="material ? 'dp-material' : ''"
               [(ngModel)]="date"
               [placeholder]="placeholder"
               [disabled]="disabled"
               [required]="required"
               (ngModelChange)="log($event)"/>
        <div class="dp-validations">
          <div id="requiredValidation" *ngIf="dateDirectivePickerModel.errors?.required || false">required</div>
          <div *ngIf="dateDirectivePickerModel.errors?.format || false">format invalid</div>
        </div>
      </div>

      <div class="dp-picker-container" id="datePicker" *ngIf="pickerMode === 'monthDirective'">
        <input [dpDayPicker]="config"
               name="datePicker"
               #dateDirectivePicker="dpDayPicker"
               #dateDirectivePickerModel="ngModel"
               [theme]="material ? 'dp-material' : ''"
               [type]="'month'"
               [(ngModel)]="date"
               [placeholder]="placeholder"
               [disabled]="disabled"
               [required]="required"
               (ngModelChange)="log($event)"/>
        <div class="dp-validations">
          <div id="requiredValidation" *ngIf="dateDirectivePickerModel.errors?.required || false">required</div>
          <div *ngIf="dateDirectivePickerModel.errors?.format || false">format invalid</div>
        </div>
      </div>
    </form>

  </div>

  <div class="dp-attributes">
    <h3 class="dp-options-section">Attribute options</h3>
    <div class="dp-option">
      <span class="dp-option-header">
        Theme (theme | for example the built in material theme - dp-material):
      </span>
      <div class="dp-option-playground">
        <label>Material Theme
          <input id="themeOn" type="radio" [(ngModel)]="material" name="style" [value]="true">
        </label>
        <label>No Theme
          <input id="themeOff" type="radio" [(ngModel)]="material" name="style" [value]="false">
        </label>
      </div>
    </div>

    <div class="dp-option">
      <span class="dp-option-header">
        Disabled (disabled):
      </span>
      <div class="dp-option-playground">
        <label>Enabled
          <input id="inputEnabledRadio" type="radio" [(ngModel)]="disabled" name="disabled" [value]="false">
        </label>
        <label>Disabled
          <input id="inputDisabledRadio" type="radio" [(ngModel)]="disabled" name="disabled" [value]="true">
        </label>
      </div>
    </div>

    <div class="dp-option">
      <span class="dp-option-header">
        Required Validation (required):
      </span>
      <div class="dp-option-playground">
        <label>Required
          <input id="enableRequiredRadio" type="radio" [(ngModel)]="required" name="required" [value]="true">
        </label>
        <label>Not Required
          <input id="disableRequiredRadio" type="radio" [(ngModel)]="required" name="required" [value]="false">
        </label>
      </div>
    </div>

    <div class="dp-option">
      <span class="dp-option-header">
        Min-Date Validation (minDate):
      </span>
      <div class="dp-option-playground">
        <dp-date-picker id="minDatePicker"
                        theme="dp-material"
                        [(ngModel)]="validationMinDate"
                        placeholder="Select a min date">
        </dp-date-picker>
      </div>
    </div>

    <div class="dp-option">
      <span class="dp-option-header">
        Max-Date Validation (maxDate):
      </span>
      <div class="dp-option-playground">
        <dp-date-picker id="maxDatePicker"
                        theme="dp-material"
                        [(ngModel)]="validationMaxDate"
                        placeholder="Select a max date">
        </dp-date-picker>
      </div>
    </div>

    <div class="dp-option">
      <span class="dp-option-header">
        Placeholder (placeholder):
      </span>
      <div class="dp-option-playground">
        <input id="placeholderInput" type="text" placeholder="Put a placeholder" [(ngModel)]="placeholder"/>
      </div>
    </div>

  </div>

  <div class="dp-configs">
    <h3 class="dp-options-section">Config options</h3>

    <div class="dp-option">
      <span class="dp-option-header">
        First Day of The week (firstDayOfWeek):
      </span>
      <div class="dp-option-playground">
        <select id="firstDayOfWeekSelect" [(ngModel)]="config.firstDayOfWeek" (change)="configChanged()">
          <option *ngFor="let day of DAYS" [value]="day"> {{day}}</option>
        </select>
      </div>
    </div>

    <div class="dp-option">
      <span class="dp-option-header">
        Date Format (format):
      </span>
      <div class="dp-option-playground">
        <input id="dateFormat" type="text" [(ngModel)]="config.format" (change)="configChanged()">
      </div>
    </div>

    <div class="dp-option">
      <span class="dp-option-header">
        Month Format (monthFormat):
      </span>
      <div class="dp-option-playground">
        <input id="monthFormatInput" type="text" [(ngModel)]="config.monthFormat" (change)="configChanged()">
      </div>
    </div>

    <div class="dp-option">
      <span class="dp-option-header">
        Min Selectable Date (min):
      </span>
      <div class="dp-option-playground">
        <dp-date-picker id="minSelectable"
                        theme="dp-material"
                        [(ngModel)]="config.min"
                        (ngModelChange)="configChanged()"
                        placeholder="Select a min date">
        </dp-date-picker>
      </div>
    </div>

    <div class="dp-option">
      <span class="dp-option-header">
        Max Selectable Date (max):
      </span>
      <div class="dp-option-playground">
        <dp-date-picker id="maxSelectable"
                        theme="dp-material"
                        [(ngModel)]="config.max"
                        (ngModelChange)="configChanged()"
                        placeholder="Select a max date">
        </dp-date-picker>
      </div>
    </div>

    <div class="dp-option">
      <span class="dp-option-header">
        Allow Multiple Selection (allowMultiSelect):
      </span>
      <div class="dp-option-playground">
        <label>Single
          <input id="disableMultiselect" type="radio" [(ngModel)]="config.allowMultiSelect" name="allowMultiSelect"
                 [value]="false"
                 (ngModelChange)="configChanged()">
        </label>
        <label>Multiple
          <input id="enableMultiselect" type="radio" [(ngModel)]="config.allowMultiSelect" name="allowMultiSelect"
                 [value]="true"
                 (ngModelChange)="configChanged()">
        </label>
      </div>
    </div>

    <div class="dp-option">
      <span class="dp-option-header">
        Close after selection (closeOnSelect):
      </span>
      <div class="dp-option-playground">
        <label>Close
          <input id="closeOnSelect" type="radio" [(ngModel)]="config.closeOnSelect" name="closeOnSelect" [value]="true"
                 (ngModelChange)="configChanged()">
        </label>
        <label>Don't Close
          <input id="noCloseOnSelect" type="radio" [(ngModel)]="config.closeOnSelect" name="closeOnSelect"
                 [value]="false"
                 (ngModelChange)="configChanged()">
        </label>
      </div>
    </div>

    <div class="dp-option">
      <span class="dp-option-header">
        Closing Delay in ms (closeOnSelectDelay):
      </span>
      <div class="dp-option-playground">
        <input id="closeDelay" type="number" [(ngModel)]="config.closeOnSelectDelay" (change)="configChanged()">
      </div>
    </div>

    <div class="dp-option">
      <span class="dp-option-header">
        Open Delay in ms (onOpenDelay):
      </span>
      <div class="dp-option-playground">
        <input id="onOpenDelay" type="number" [(ngModel)]="config.onOpenDelay" (change)="configChanged()">
      </div>
    </div>

    <div class="dp-option">
      <span class="dp-option-header">
        Weekday Names (weekdayNames):
      </span>
      <div class="dp-option-playground dp-week-days">
        <input id="weekDayName1" type="text" [(ngModel)]="config.weekdayNames['su']" (change)="configChanged()">
        <input id="weekDayName2" type="text" [(ngModel)]="config.weekdayNames['mo']" (change)="configChanged()">
        <input id="weekDayName3" type="text" [(ngModel)]="config.weekdayNames['tu']" (change)="configChanged()">
        <input id="weekDayName4" type="text" [(ngModel)]="config.weekdayNames['we']" (change)="configChanged()">
        <input id="weekDayName5" type="text" [(ngModel)]="config.weekdayNames['th']" (change)="configChanged()">
        <input id="weekDayName6" type="text" [(ngModel)]="config.weekdayNames['fr']" (change)="configChanged()">
        <input id="weekDayName7" type="text" [(ngModel)]="config.weekdayNames['sa']" (change)="configChanged()">
      </div>
    </div>

    <div class="dp-option">
      <span class="dp-option-header">
        Disable keyboard on input (disableKeypress):
      </span>
      <div class="dp-option-playground">
        <label>Disabled
          <input type="radio" [(ngModel)]="config.disableKeypress" name="disableKeypress" [value]="true"
                 (ngModelChange)="configChanged()">
        </label>
        <label>Enabled
          <input type="radio" [(ngModel)]="config.disableKeypress" name="disableKeypress" [value]="false"
                 (ngModelChange)="configChanged()">
        </label>
      </div>
    </div>

    <div class="dp-option">
      <span class="dp-option-header">
        Drops (drops):
      </span>
      <div class="dp-option-playground">
        <label>Down
          <input type="radio" [(ngModel)]="config.drops" name="drops" value="down"
                 (ngModelChange)="configChanged()">
        </label>
        <label>Up
          <input type="radio" [(ngModel)]="config.drops" name="drops" value="up"
                 (ngModelChange)="configChanged()">
        </label>
      </div>
    </div>

    <div class="dp-option">
      <span class="dp-option-header">
        Opens (opens):
      </span>
      <div class="dp-option-playground">
        <label>Right
          <input type="radio" [(ngModel)]="config.opens" name="opens" value="right"
                 (ngModelChange)="configChanged()">
        </label>
        <label>Left
          <input type="radio" [(ngModel)]="config.opens" name="opens" value="left"
                 (ngModelChange)="configChanged()">
        </label>
      </div>
    </div>

    <div class="dp-option">
      <span class="dp-option-header">
        Show near month days (showNearMonthDays):
      </span>
      <div class="dp-option-playground">
        <label>Show
          <input id="showNearMonthDaysRadio" type="radio" [(ngModel)]="config.showNearMonthDays"
                 name="showNearMonthDays" [value]="true"
                 (ngModelChange)="configChanged()">
        </label>
        <label>Hide
          <input id="hideNearMonthDaysRadio" type="radio" [(ngModel)]="config.showNearMonthDays"
                 name="showNearMonthDays" [value]="false"
                 (ngModelChange)="configChanged()">
        </label>
      </div>
    </div>

    <div class="dp-option">
      <span class="dp-option-header">
        Show week numbers (showWeekNumbers):
      </span>
      <div class="dp-option-playground">
        <label>Show
          <input id="showWeekNumbersRadio" type="radio" [(ngModel)]="config.showWeekNumbers" name="showWeekNumbers"
                 [value]="true"
                 (ngModelChange)="configChanged()">
        </label>
        <label>Hide
          <input id="hideWeekNumbersRadio" type="radio" [(ngModel)]="config.showWeekNumbers" name="showWeekNumbers"
                 [value]="false"
                 (ngModelChange)="configChanged()">
        </label>
      </div>
    </div>

    <div class="dp-option">
      <span class="dp-option-header">
        Enable month selector (enableMonthSelector):
      </span>
      <div class="dp-option-playground">
        <label>Enabled
          <input id="enableMonthSelector" type="radio" [(ngModel)]="config.enableMonthSelector"
                 name="enableMonthSelector" [value]="true"
                 (ngModelChange)="configChanged()">
        </label>
        <label>Disabled
          <input id="disableMonthSelector" type="radio" [(ngModel)]="config.enableMonthSelector"
                 name="enableMonthSelector" [value]="false"
                 (ngModelChange)="configChanged()">
        </label>
      </div>
    </div>

    <div class="dp-option">
      <span class="dp-option-header">
        Year Format (yearFormat):
      </span>
      <div class="dp-option-playground">
        <input id="yearFormat" type="text" [(ngModel)]="config.yearFormat" (change)="configChanged()">
      </div>
    </div>

    <div class="dp-option">
      <span class="dp-option-header">
        Show go to current button (showGoToCurrent):
      </span>
      <div class="dp-option-playground">
        <label>Enabled
          <input id="showGoToCurrent" type="radio" [(ngModel)]="config.showGoToCurrent" name="showGoToCurrent"
                 [value]="true"
                 (ngModelChange)="configChanged()">
        </label>
        <label>Disabled
          <input id="hideGoToCurrent" type="radio" [(ngModel)]="config.showGoToCurrent" name="showGoToCurrent"
                 [value]="false"
                 (ngModelChange)="configChanged()">
        </label>
      </div>
    </div>

    <div class="dp-option">
      <span class="dp-option-header">
        Day Button Format (dayBtnFormat):
      </span>
      <div class="dp-option-playground">
        <input id="dayBtnFormat" type="text" [(ngModel)]="config.dayBtnFormat" (change)="configChanged()">
      </div>
    </div>

    <div class="dp-option">
      <span class="dp-option-header">
        Month Button Format (monthBtnFormat):
      </span>
      <div class="dp-option-playground">
        <input id="monthBtnFormat" type="text" [(ngModel)]="config.monthBtnFormat" (change)="configChanged()">
      </div>
    </div>

  </div>

  <div class="dp-api">
    <h3 class="dp-options-section">API</h3>

    <div class="dp-option">
      <span class="dp-option-header">
        Open (api.open()):
      </span>
      <div class="dp-option-playground">
        <button id="openBtn" (click)="openCalendar()">Open</button>
      </div>
    </div>

    <div class="dp-option">
      <span class="dp-option-header">
        Close (api.close()):
      </span>
      <div class="dp-option-playground">
        <button (click)="closeCalendar()">Close</button>
      </div>
    </div>
  </div>
</div>
