<div class="dp-demo-page">
  <div class="dp-menu">
    <h3 class="dp-menu-header">Components</h3>
    <ul>
      <li>
        <a id="daytimePickerMenu" href="#" (click)="modeChanged('daytimePicker')"
           [ngClass]="{'dp-active-item': pickerMode == 'daytimePicker'}">Day Time Picker</a>
      </li>
      <li>
        <a id="daytimeInlineMenu" href="#" (click)="modeChanged('daytimeInline')"
           [ngClass]="{'dp-active-item': pickerMode == 'daytimeInline'}">Day Time Picker inline</a>
      </li>
      <li>
        <a id="daytimeDirectiveMenu" href="#" (click)="modeChanged('daytimeDirective')"
           [ngClass]="{'dp-active-item': pickerMode == 'daytimeDirective'}">Day Time Picker directive</a>
      </li>
      <li>
        <a id="dayPickerMenu" href="#" (click)="modeChanged('dayPicker')"
           [ngClass]="{'dp-active-item': pickerMode == 'dayPicker'}">Day Picker</a>
      </li>
      <li>
        <a id="dayInlineMenu" href="#" (click)="modeChanged('dayInline')"
           [ngClass]="{'dp-active-item': pickerMode == 'dayInline'}">Day Picker inline</a>
      </li>
      <li>
        <a id="dayDirectiveMenu" href="#" (click)="modeChanged('dayDirective')"
           [ngClass]="{'dp-active-item': pickerMode == 'dayDirective'}">Day Picker directive</a>
      </li>
      <li>
        <a id="dayDirectiveReactive" href="#" (click)="modeChanged('dayDirectiveReactive')"
           [ngClass]="{'dp-active-item': pickerMode == 'dayDirectiveReactive'}">Day Picker directive Reactive</a>
      </li>
      <li>
        <a id="monthPickerMenu" href="#" (click)="modeChanged('monthPicker')"
           [ngClass]="{'dp-active-item': pickerMode == 'monthPicker'}">Month Picker</a>
      </li>
      <li>
        <a id="monthInlineMenu" href="#" (click)="modeChanged('monthInline')"
           [ngClass]="{'dp-active-item': pickerMode == 'monthInline'}">Month Picker inline</a>
      </li>
      <li>
        <a id="monthDirectiveMenu" href="#" (click)="modeChanged('monthDirective')"
           [ngClass]="{'dp-active-item': pickerMode == 'monthDirective'}">Month Picker directive</a>
      </li>
      <li>
        <a id="timePickerMenu" href="#" (click)="modeChanged('timePicker')"
           [ngClass]="{'dp-active-item': pickerMode == 'timePicker'}">Time Picker</a>
      </li>
      <li>
        <a id="timeInlineMenu" href="#" (click)="modeChanged('timeInline')"
           [ngClass]="{'dp-active-item': pickerMode == 'timeInline'}">Time Picker inline</a>
      </li>
      <li>
        <a id="timeDirectiveMenu" href="#" (click)="modeChanged('timeDirective')"
           [ngClass]="{'dp-active-item': pickerMode == 'timeDirective'}">Time Picker directive</a>
      </li>
    </ul>
  </div>

  <div *ngIf="showDemo" class="dp-demo-container" [ngClass]="{'dp-not-top': !isAtTop,
                                             'dp-inline': pickerMode.endsWith('Inline'),
                                             'dp-inline-day': pickerMode == 'dayInline',
                                             'dp-inline-month': pickerMode == 'monthInline',
                                             'dp-inline-time': pickerMode == 'timeInline',
                                             'dp-inline-day-time': pickerMode == 'daytimeInline'}">

    <form #donateForm class="dp-donate-btn" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="8ZR2S5XYJ6WLJ">
      <input (click)="donateClicked()" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>

    <h2 class="dp-page-header">Angular Date/Time/Month Picker</h2>

    <!--<div>{{form.form.dirty}}</div>-->

    <form #form="ngForm">
      <div class="dp-picker-day" *ngIf="pickerMode === 'dayPicker'">
        <dp-date-picker id="datePicker"
                        name="datePicker"
                        #datePicker
                        #datePickerModel="ngModel"
                        [(ngModel)]="date"
                        (ngModelChange)="log($event)"
                        [mode]="'day'"
                        [displayDate]="displayDate"
                        [disabled]="disabled"
                        (open)="opened()"
                        (close)="closed()"
                        [minDate]="validationMinDate"
                        [maxDate]="validationMaxDate"
                        [required]="required"
                        [placeholder]="placeholder"
                        [config]="config"
                        [theme]="material ? 'dp-material' : ''">
        </dp-date-picker>
        <div class="dp-validations">
          <div id="requiredValidation" *ngIf="datePickerModel.errors && datePickerModel.errors.required">required</div>
          <div *ngIf="datePickerModel.errors && datePickerModel.errors.format">format invalid</div>
          <div id="minDateValidation" *ngIf="datePickerModel.errors && datePickerModel.errors.minDate">minDate invalid
          </div>
          <div id="maxDateValidation" *ngIf="datePickerModel.errors && datePickerModel.errors.maxDate">maxDate invalid
          </div>
        </div>
      </div>

      <div class="dp-inline-day" *ngIf="pickerMode === 'dayInline'">
        <dp-day-calendar
            name="dayCalendar"
            #dayCalendar="ngModel"
            [theme]="material ? 'dp-material' : ''"
            [(ngModel)]="dates"
            (ngModelChange)="log($event)"
            [minDate]="validationMinDate"
            [maxDate]="validationMaxDate"
            [required]="required"
            [config]="config">
        </dp-day-calendar>

        <div class="dp-validations">
          <div id="dayRequiredValidation" *ngIf="dayCalendar.errors && dayCalendar.errors.required">required</div>
          <div id="dayMinDateValidation" *ngIf="dayCalendar.errors && dayCalendar.errors.minDate">minDate invalid</div>
          <div id="dayMaxDateValidation" *ngIf="dayCalendar.errors && dayCalendar.errors.maxDate">maxDate invalid</div>
        </div>
      </div>

      <div class="dp-picker-day-directive" id="dayDirective" *ngIf="pickerMode === 'dayDirective'">
        <input [dpDayPicker]="config"
               name="datePicker"
               #dateDirectivePicker="dpDayPicker"
               #dateDirectivePickerModel="ngModel"
               [theme]="material ? 'dp-material' : ''"
               [(ngModel)]="date"
               (open)="opened()"
               (close)="closed()"
               [placeholder]="placeholder"
               [minDate]="validationMinDate"
               [maxDate]="validationMaxDate"
               [disabled]="disabled"
               [required]="required"
               (ngModelChange)="log($event)"/>
        <div class="dp-validations">
          <div id="requiredValidation" *ngIf="dateDirectivePickerModel.errors?.required || false">required</div>
          <div *ngIf="dateDirectivePickerModel.errors?.format || false">format invalid</div>
          <div *ngIf="dateDirectivePickerModel.errors?.minDate">minDate invalid</div>
          <div *ngIf="dateDirectivePickerModel.errors?.maxDate">maxDate invalid</div>
        </div>
      </div>

      <div class="dp-picker-month" *ngIf="pickerMode === 'monthPicker'">
        <dp-date-picker id="monthPicker"
                        name="monthPicker"
                        #datePicker
                        #monthPicker="ngModel"
                        [(ngModel)]="date"
                        (ngModelChange)="log($event)"
                        [mode]="'month'"
                        [displayDate]="displayDate"
                        (open)="opened()"
                        (close)="closed()"
                        [disabled]="disabled"
                        [minDate]="validationMinDate"
                        [maxDate]="validationMaxDate"
                        [required]="required"
                        [placeholder]="placeholder"
                        [config]="config"
                        [theme]="material ? 'dp-material' : ''">
        </dp-date-picker>
        <div class="dp-validations">
          <div id="monthPickerRequiredValidation" *ngIf="monthPicker.errors && monthPicker.errors.required">required
          </div>
          <div *ngIf="monthPicker.errors && monthPicker.errors.format">format invalid</div>
          <div id="monthPickerMinDateValidation" *ngIf="monthPicker.errors && monthPicker.errors.minDate">minDate
            invalid
          </div>
          <div id="monthPickerMaxDateValidation" *ngIf="monthPicker.errors && monthPicker.errors.maxDate">maxDate
            invalid
          </div>
        </div>
      </div>

      <div class="dp-inline-month" *ngIf="pickerMode === 'monthInline'">
        <dp-month-calendar
            name="monthInline"
            #monthInline="ngModel"
            [theme]="material ? 'dp-material' : ''"
            [(ngModel)]="dates"
            (ngModelChange)="log($event)"
            [minDate]="validationMinDate"
            [maxDate]="validationMaxDate"
            [required]="required"
            [config]="config">
        </dp-month-calendar>

        <div class="dp-validations">
          <div id="monthInlineRequiredValidation" *ngIf="monthInline.errors && monthInline.errors.required">required
          </div>
          <div id="monthInlineMinDateValidation" *ngIf="monthInline.errors && monthInline.errors.minDate">minDate
            invalid
          </div>
          <div id="monthInlineMaxDateValidation" *ngIf="monthInline.errors && monthInline.errors.maxDate">maxDate
            invalid
          </div>
        </div>
      </div>

      <div class="dp-picker-time" *ngIf="pickerMode === 'timePicker'">
        <dp-date-picker id="timePicker"
                        name="timePicker"
                        #datePicker
                        #timePicker="ngModel"
                        [(ngModel)]="date"
                        (ngModelChange)="log($event)"
                        [mode]="'time'"
                        (open)="opened()"
                        (close)="closed()"
                        [disabled]="disabled"
                        [minTime]="validationMinTime"
                        [maxTime]="validationMaxTime"
                        [required]="required"
                        [placeholder]="placeholder"
                        [config]="config"
                        [theme]="material ? 'dp-material' : ''">
        </dp-date-picker>
        <div class="dp-validations">
          <div id="timePickerRequiredValidation" *ngIf="timePicker.errors && timePicker.errors.required">required
          </div>
          <div *ngIf="timePicker.errors && timePicker.errors.format">format invalid</div>
          <div id="timePickerMinTimeValidation" *ngIf="timePicker.errors && timePicker.errors.minTime">minTime
            invalid
          </div>
          <div id="timePickerMaxTimeValidation" *ngIf="timePicker.errors && timePicker.errors.maxTime">maxTime
            invalid
          </div>
        </div>
      </div>

      <div class="dp-inline-time" *ngIf="pickerMode === 'timeInline'">
        <dp-time-select
            name="timeInline"
            #timeInline="ngModel"
            [theme]="material ? 'dp-material' : ''"
            [(ngModel)]="date"
            (ngModelChange)="log($event)"
            [minDate]="validationMinDate"
            [maxDate]="validationMaxDate"
            [minTime]="validationMinTime"
            [maxTime]="validationMaxTime"
            [config]="config">
        </dp-time-select>

        <div class="dp-validations">
          <div id="timeInlineRequiredValidation" *ngIf="timeInline.errors && timeInline.errors.required">required
          </div>
          <div id="timeInlineMinTimeValidation" *ngIf="timeInline.errors && timeInline.errors.minTime">minTime
            invalid
          </div>
          <div id="timeInlineMaxTimeValidation" *ngIf="timeInline.errors && timeInline.errors.maxTime">maxTime
            invalid
          </div>
        </div>
      </div>

      <div class="dp-picker-time-picker" *ngIf="pickerMode === 'daytimePicker'">
        <dp-date-picker id="daytimePicker"
                        name="daytimePicker"
                        #datePicker
                        #daytimePicker="ngModel"
                        [(ngModel)]="date"
                        (ngModelChange)="log($event)"
                        [mode]="'daytime'"
                        [displayDate]="displayDate"
                        (open)="opened()"
                        (close)="closed()"
                        [disabled]="disabled"
                        [minDate]="validationMinDate"
                        [maxDate]="validationMaxDate"
                        [required]="required"
                        [placeholder]="placeholder"
                        [config]="config"
                        [theme]="material ? 'dp-material' : ''">
        </dp-date-picker>

        <div class="dp-validations">
          <div id="requiredValidation" *ngIf="daytimePicker.errors && daytimePicker.errors.required">required
          </div>
          <div *ngIf="daytimePicker.errors && daytimePicker.errors.format">format invalid</div>
          <div id="minDateValidation" *ngIf="daytimePicker.errors && daytimePicker.errors.minDate">minDate
            invalid
          </div>
          <div id="maxDateValidation" *ngIf="daytimePicker.errors && daytimePicker.errors.maxDate">maxDate
            invalid
          </div>
        </div>
      </div>

      <div class="dp-inline-day-time" *ngIf="pickerMode === 'daytimeInline'">
        <dp-day-time-calendar
            name="daytimeInline"
            #daytimeInline="ngModel"
            [theme]="material ? 'dp-material' : ''"
            [(ngModel)]="date"
            (ngModelChange)="log($event)"
            [minDate]="validationMinDate"
            [maxDate]="validationMaxDate"
            [config]="config">
        </dp-day-time-calendar>

        <div class="dp-validations">
          <div id="daytimeInlineRequiredValidation" *ngIf="daytimeInline.errors && daytimeInline.errors.required">
            required
          </div>
          <div id="daytimeInlineMinDateValidation" *ngIf="daytimeInline.errors && daytimeInline.errors.minDate">minDate
            invalid
          </div>
          <div id="daytimeInlineMaxDateValidation" *ngIf="daytimeInline.errors && daytimeInline.errors.maxDate">maxDate
            invalid
          </div>
        </div>
      </div>

      <div class="dp-picker-day-directive" id="datePickerDirDayReactive" *ngIf="pickerMode === 'dayDirectiveReactive'">
        <form [formGroup]="formGroup">
          <input [dpDayPicker]="config"
                 name="datePicker"
                 #dateDirectivePicker="dpDayPicker"
                 [theme]="material ? 'dp-material' : ''"
                 formControlName="datePicker"
                 [placeholder]="placeholder"
                 (ngModelChange)="date = $event; log($event)"
                 [required]="required"
                 (open)="opened()"
                 (close)="closed()"/>
          <div class="dp-validations">
            <div id="reactiveRequiredValidation"
                 *ngIf="formGroup.get('datePicker').hasError('required') && formGroup.get('datePicker').touched">
              required
            </div>
            <div id="reactiveMinDateValidation"
                 *ngIf="formGroup.get('datePicker').hasError('minDate') && formGroup.get('datePicker').touched">minDate
              invalid
            </div>
            <div id="reactiveMaxDateValidation"
                 *ngIf="formGroup.get('datePicker').hasError('maxDate') && formGroup.get('datePicker').touched">maxDate
              invalid
            </div>
          </div>
        </form>
      </div>

      <div class="dp-picker-month-directive" id="datePickerDirMonth" *ngIf="pickerMode === 'monthDirective'">
        <input [dpDayPicker]="config"
               name="datePicker"
               #dateDirectivePicker="dpDayPicker"
               #dateDirectivePickerModel="ngModel"
               [theme]="material ? 'dp-material' : ''"
               mode="month"
               [(ngModel)]="date"
               (open)="opened()"
               (close)="closed()"
               [placeholder]="placeholder"
               [disabled]="disabled"
               [required]="required"
               (ngModelChange)="log($event)"/>
        <div class="dp-validations">
          <div id="requiredValidation" *ngIf="dateDirectivePickerModel.errors?.required || false">required</div>
          <div *ngIf="dateDirectivePickerModel.errors?.format || false">format invalid</div>
        </div>
      </div>

      <div class="dp-picker-time-directive" id="timePickerDirDay" *ngIf="pickerMode === 'timeDirective'">
        <input [dpDayPicker]="config"
               name="timePickerDir"
               #dateDirectivePicker="dpDayPicker"
               #timeDirectivePickerModel="ngModel"
               [theme]="material ? 'dp-material' : ''"
               mode="time"
               (open)="opened()"
               (close)="closed()"
               [(ngModel)]="date"
               [placeholder]="placeholder"
               [minTime]="validationMinTime"
               [maxTime]="validationMaxTime"
               [disabled]="disabled"
               [required]="required"
               (ngModelChange)="log($event)"/>
        <div class="dp-validations">
          <div id="requiredValidation" *ngIf="timeDirectivePickerModel.errors?.required || false">required</div>
          <div *ngIf="timeDirectivePickerModel.errors?.format || false">format invalid</div>
          <div *ngIf="timeDirectivePickerModel.errors?.minTime">minTime invalid</div>
          <div *ngIf="timeDirectivePickerModel.errors?.maxTime">maxTime invalid</div>
        </div>
      </div>

      <div class="dp-picker-day-time-directive" id="daytimeDirective" *ngIf="pickerMode === 'daytimeDirective'">
        <input [dpDayPicker]="config"
               name="daytimePickerDir"
               #dateDirectivePicker="dpDayPicker"
               #daytimeDirectivePickerModel="ngModel"
               [theme]="material ? 'dp-material' : ''"
               mode="daytime"
               [(ngModel)]="date"
               (open)="opened()"
               (close)="closed()"
               [placeholder]="placeholder"
               [minDate]="validationMinDate"
               [maxDate]="validationMaxDate"
               [disabled]="disabled"
               [required]="required"
               (ngModelChange)="log($event)"/>
        <div class="dp-validations">
          <div id="requiredValidation" *ngIf="daytimeDirectivePickerModel.errors?.required || false">required</div>
          <div *ngIf="daytimeDirectivePickerModel.errors?.format || false">format invalid</div>
          <div *ngIf="daytimeDirectivePickerModel.errors?.minDate">minDate invalid</div>
          <div *ngIf="daytimeDirectivePickerModel.errors?.maxDate">maxDate invalid</div>
        </div>
      </div>
    </form>

    <div class="dp-github-container">
      <a class="github-button"
         href="https://github.com/vlio20/angular-datepicker"
         data-size="large"
         data-show-count="true"
         aria-label="Star vlio20/angular-datepicker on GitHub">
        Star
      </a>
    </div>
  </div>

  <div class="dp-page-content" [ngClass]="{'dp-inline': pickerMode.endsWith('Inline'),
                                           'dp-inline-day': pickerMode == 'dayInline',
                                           'dp-inline-month': pickerMode == 'monthInline',
                                           'dp-inline-time': pickerMode == 'timeInline',
                                           'dp-inline-day-time': pickerMode == 'daytimeInline'}">
    <div class="dp-attributes">
      <h3 class="dp-options-section">Attribute options</h3>
      <div class="dp-option" *ngIf="isValidConfig('theme')">
      <span class="dp-option-header">
        Theme (theme | for example the built in material theme - dp-material):
      </span>
        <div class="dp-option-playground">
          <label>Material Theme
            <input id="themeOn" type="radio" [(ngModel)]="material" name="style" [value]="true">
          </label>
          <label>No Theme
            <input id="themeOff" type="radio" [(ngModel)]="material" name="style" [value]="false">
          </label>
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('disabled')">
      <span class="dp-option-header">
        Disabled (disabled):
      </span>
        <div class="dp-option-playground">
          <label>Enabled
            <input id="inputEnabledRadio" type="radio" [(ngModel)]="disabled" name="disabled" [value]="false">
          </label>
          <label>Disabled
            <input id="inputDisabledRadio" type="radio" [(ngModel)]="disabled" name="disabled" [value]="true">
          </label>
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('required')">
      <span class="dp-option-header">
        Required Validation (required):
      </span>
        <div class="dp-option-playground">
          <label>Required
            <input id="enableRequiredRadio" type="radio" [(ngModel)]="required" (ngModelChange)="validatorsChanged()"
                   name="required" [value]="true">
          </label>
          <label>Not Required
            <input id="disableRequiredRadio" type="radio" [(ngModel)]="required" (ngModelChange)="validatorsChanged()"
                   name="required" [value]="false">
          </label>
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('minValidation')">
        <span class="dp-option-header">
          Min-Date Validation (minDate):
        </span>
        <div class="dp-option-playground">
          <dp-date-picker id="minDatePicker"
                          theme="dp-material"
                          [(ngModel)]="validationMinDate"
                          [mode]="pickerMode.startsWith('daytime') ? 'daytime' : 'day'"
                          [config]="{format: config.format}"
                          (ngModelChange)="validatorsChanged()"
                          placeholder="Select a min date">
          </dp-date-picker>
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('maxValidation')">
        <span class="dp-option-header">
          Max-Date Validation (maxDate):
        </span>
        <div class="dp-option-playground">
          <dp-date-picker id="maxDatePicker"
                          theme="dp-material"
                          [(ngModel)]="validationMaxDate"
                          [mode]="pickerMode.startsWith('daytime') ? 'daytime' : 'day'"
                          [config]="{format: config.format}"
                          (ngModelChange)="validatorsChanged()"
                          placeholder="Select a max date">
          </dp-date-picker>
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('displayDate')">
        <span class="dp-option-header">
          Display Date (displayDate):
        </span>
        <div class="dp-option-playground">
          <dp-date-picker id="displayDate"
                          theme="dp-material"
                          [(ngModel)]="displayDate"
                          mode="day"
                          placeholder="Select a display date">
          </dp-date-picker>
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('minTimeValidation')">
      <span class="dp-option-header">
        Min-Time Validation (minTime):
      </span>
        <div class="dp-option-playground">
          <dp-date-picker id="minTimeValidation"
                          theme="dp-material"
                          [(ngModel)]="validationMinTime"
                          mode="time"
                          [config]="{format: 'HH:mm:ss', locale: config.locale}"
                          (ngModelChange)="validatorsChanged()"
                          placeholder="Select a min time">
          </dp-date-picker>
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('maxTimeValidation')">
      <span class="dp-option-header">
        Max-Time Validation (maxTime):
      </span>
        <div class="dp-option-playground">
          <dp-date-picker id="maxTimeValidation"
                          theme="dp-material"
                          [(ngModel)]="validationMaxTime"
                          mode="time"
                          [config]="{format: 'HH:mm:ss', locale: config.locale}"
                          (ngModelChange)="validatorsChanged()"
                          placeholder="Select a max time">
          </dp-date-picker>
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('placeholder')">
      <span class="dp-option-header">
        Placeholder (placeholder):
      </span>
        <div class="dp-option-playground">
          <input id="placeholderInput" type="text" placeholder="Put a placeholder" [(ngModel)]="placeholder"/>
        </div>
      </div>

    </div>

    <div class="dp-configs">
      <h3 class="dp-options-section">Config options</h3>

      <div class="dp-option" *ngIf="isValidConfig('locale')">
        <span class="dp-option-header">
          Locale (locale):
        </span>
        <div class="dp-option-playground">
          <select id="locale"
                  [(ngModel)]="config.locale"
                  (change)="configChanged('locale', config.locale)">
            <option *ngFor="let lang of LANGS" [value]="lang"> {{lang}}</option>
          </select>
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('firstDayOfWeek')">
        <span class="dp-option-header">
          First Day of The week (firstDayOfWeek):
        </span>
        <div class="dp-option-playground">
          <select id="firstDayOfWeekSelect"
                  [(ngModel)]="config.firstDayOfWeek"
                  (change)="configChanged('firstDayOfWeek', config.firstDayOfWeek)">
            <option *ngFor="let day of DAYS" [value]="day"> {{day}}</option>
          </select>
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('format')">
        <span class="dp-option-header">
          Date Format (format):
        </span>
        <div class="dp-option-playground">
          <input id="dateFormat"
                 type="text"
                 [(ngModel)]="config.format"
                 (change)="configChanged('format', config.format)">
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('monthFormat')">
        <span class="dp-option-header">
          Month Format (monthFormat):
        </span>
        <div class="dp-option-playground">
          <input id="monthFormatInput"
                 type="text"
                 [(ngModel)]="config.monthFormat"
                 (change)="configChanged('monthFormat', config.monthFormat)">
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('min')">
        <span class="dp-option-header">
          Min Selectable Date (min):
        </span>
        <div class="dp-option-playground">
          <dp-date-picker id="minSelectable"
                          theme="dp-material"
                          [(ngModel)]="config.min"
                          [mode]="pickerMode.startsWith('daytime') ? 'daytime' : 'day'"
                          [config]="{format: config.format}"
                          (ngModelChange)="configChanged('min', config.min)"
                          placeholder="Select a min date">
          </dp-date-picker>
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('max')">
        <span class="dp-option-header">
          Max Selectable Date (max):
        </span>
        <div class="dp-option-playground">
          <dp-date-picker id="maxSelectable"
                          theme="dp-material"
                          [(ngModel)]="config.max"
                          [mode]="pickerMode.startsWith('daytime') ? 'daytime' : 'day'"
                          [config]="{format: config.format}"
                          (ngModelChange)="configChanged('max', config.max)"
                          placeholder="Select a max date">
          </dp-date-picker>
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('minTime')">
        <span class="dp-option-header">
          Min Selectable Time (minTime):
        </span>
        <div class="dp-option-playground">
          <dp-date-picker id="minTimeSelectable"
                          theme="dp-material"
                          [(ngModel)]="config.minTime"
                          mode="time"
                          [config]="{format: 'HH:mm:ss'}"
                          (ngModelChange)="configChanged('minTime', config.minTime)"
                          placeholder="Select a min time">
          </dp-date-picker>
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('maxTime')">
        <span class="dp-option-header">
          Max Selectable Time (maxTime):
        </span>
        <div class="dp-option-playground">
          <dp-date-picker id="maxTimeSelectable"
                          theme="dp-material"
                          [(ngModel)]="config.maxTime"
                          mode="time"
                          [config]="{format: 'HH:mm:ss'}"
                          (ngModelChange)="configChanged('maxTime', config.maxTime)"
                          placeholder="Select a max time">
          </dp-date-picker>
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('allowMultiSelect')">
        <span class="dp-option-header">
          Allow Multiple Selection (allowMultiSelect):
        </span>
        <div class="dp-option-playground">
          <label>Single
            <input id="disableMultiselect"
                   type="radio"
                   [(ngModel)]="config.allowMultiSelect"
                   name="allowMultiSelect"
                   [value]="false"
                   (ngModelChange)="configChanged('allowMultiSelect', 'single')">
          </label>
          <label>Multiple
            <input id="enableMultiselect"
                   type="radio"
                   [(ngModel)]="config.allowMultiSelect"
                   name="allowMultiSelect"
                   [value]="true"
                   (ngModelChange)="configChanged('allowMultiSelect', 'multiple')">
          </label>
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('closeOnSelect')">
        <span class="dp-option-header">
          Close after selection (closeOnSelect):
        </span>
        <div class="dp-option-playground">
          <label>Close
            <input id="closeOnSelect"
                   type="radio"
                   [(ngModel)]="config.closeOnSelect"
                   name="closeOnSelect"
                   [value]="true"
                   (ngModelChange)="configChanged('closeOnSelect', 'true')">
          </label>
          <label>Don't Close
            <input id="noCloseOnSelect"
                   type="radio"
                   [(ngModel)]="config.closeOnSelect" name="closeOnSelect"
                   [value]="false"
                   (ngModelChange)="configChanged('closeOnSelect', 'false')">
          </label>
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('closeOnSelectDelay')">
        <span class="dp-option-header">
          Closing Delay in ms (closeOnSelectDelay):
        </span>
        <div class="dp-option-playground">
          <input id="closeDelay"
                 type="number"
                 [(ngModel)]="config.closeOnSelectDelay"
                 (change)="configChanged('closeOnSelectDelay', config.closeOnSelectDelay)">
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('openOnFocus')">
        <span class="dp-option-header">
          Show picker when input receives focus (openOnFocus):
        </span>
        <div class="dp-option-playground">
          <label>No
            <input id="noOpenOnFocus"
                   type="radio"
                   [(ngModel)]="config.openOnFocus"
                   name="openOnFocus"
                   [value]="false"
                   (ngModelChange)="configChanged('openOnFocus', 'false')">
          </label>
          <label>Yes
            <input id="yesOpenOnFocus"
                   type="radio"
                   [(ngModel)]="config.openOnFocus"
                   name="openOnFocus"
                   [value]="true"
                   (ngModelChange)="configChanged('openOnFocus', 'true')">
          </label>
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('openOnClick')">
        <span class="dp-option-header">
          Show picker when input is clicked (openOnClick):
        </span>
        <div class="dp-option-playground">
          <label>No
            <input id="noOpenOnClick"
                   type="radio"
                   [(ngModel)]="config.openOnClick"
                   name="openOnClick"
                   [value]="false"
                   (ngModelChange)="configChanged('openOnClick', 'false')">
          </label>
          <label>Yes
            <input id="yesOpenOnClick"
                   type="radio"
                   [(ngModel)]="config.openOnClick"
                   name="openOnClick"
                   [value]="true"
                   (ngModelChange)="configChanged('openOnClick', 'true')">
          </label>
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('onOpenDelay')">
        <span class="dp-option-header">
          Open Delay in ms (onOpenDelay):
        </span>
        <div class="dp-option-playground">
          <input id="onOpenDelay"
                 type="number"
                 [(ngModel)]="config.onOpenDelay"
                 (change)="configChanged('onOpenDelay', config.onOpenDelay)">
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('weekdayFormat')">
        <span class="dp-option-header">
          Weekday Format (weekDayFormat):
        </span>
        <div class="dp-option-playground">
          <input id="weekDaysFormat"
                 type="text"
                 [(ngModel)]="config.weekDayFormat"
                 (change)="configChanged('weekDayFormat', config.weekDayFormat)">
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('disableKeypress')">
        <span class="dp-option-header">
          Disable keyboard on input (disableKeypress):
        </span>
        <div class="dp-option-playground">
          <label>Disabled
            <input type="radio"
                   [(ngModel)]="config.disableKeypress"
                   name="disableKeypress"
                   [value]="true"
                   (ngModelChange)="configChanged('disableKeypress', 'true')">
          </label>
          <label>Enabled
            <input type="radio" [(ngModel)]="config.disableKeypress" name="disableKeypress" [value]="false"
                   (ngModelChange)="configChanged('disableKeypress', 'false')">
          </label>
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('drops')">
        <span class="dp-option-header">
          Drops (drops):
        </span>
        <div class="dp-option-playground">
          <label>Down
            <input type="radio"
                   [(ngModel)]="config.drops"
                   name="drops"
                   value="down"
                   (ngModelChange)="configChanged('drops', 'down')">
          </label>
          <label>Up
            <input type="radio"
                   [(ngModel)]="config.drops"
                   name="drops" value="up"
                   (ngModelChange)="configChanged('drops', 'up')">
          </label>
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('opens')">
        <span class="dp-option-header">
          Opens (opens):
        </span>
        <div class="dp-option-playground">
          <label>Right
            <input type="radio"
                   [(ngModel)]="config.opens"
                   name="opens"
                   value="right"
                   (ngModelChange)="configChanged('opens', 'right')">
          </label>
          <label>Left
            <input type="radio"
                   [(ngModel)]="config.opens"
                   name="opens"
                   value="left"
                   (ngModelChange)="configChanged('opens', 'left')">
          </label>
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('hideInputContainer')">
        <span class="dp-option-header">
          Hide Input Container (hideInputContainer):
        </span>
        <div class="dp-option-playground">
          <label>Hidden
            <input type="radio"
                   id="hideInputRadio"
                   [(ngModel)]="config.hideInputContainer"
                   name="hideInputContainer"
                   [value]="true"
                   (ngModelChange)="configChanged('hideInputContainer', 'hidden')">
          </label>
          <label>Shown
            <input type="radio"
                   id="showInputRadio"
                   [(ngModel)]="config.hideInputContainer"
                   name="hideInputContainer"
                   [value]="false"
                   (ngModelChange)="configChanged('hideInputContainer', 'shown')">
          </label>
        </div>
      </div>



      <div class="dp-option" *ngIf="isValidConfig('showNearMonthDays')">
        <span class="dp-option-header">
          Show near month days (showNearMonthDays):
        </span>
        <div class="dp-option-playground">
          <label>Show
            <input id="showNearMonthDaysRadio"
                   type="radio"
                   [(ngModel)]="config.showNearMonthDays"
                   name="showNearMonthDays"
                   [value]="true"
                   (ngModelChange)="configChanged('showNearMonthDays', 'true')">
          </label>
          <label>Hide
            <input id="hideNearMonthDaysRadio"
                   type="radio"
                   [(ngModel)]="config.showNearMonthDays"
                   name="showNearMonthDays" [value]="false"
                   (ngModelChange)="configChanged('showNearMonthDays', 'false')">
          </label>
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('showWeekNumbers')">
        <span class="dp-option-header">
          Show week numbers (showWeekNumbers):
        </span>
        <div class="dp-option-playground">
          <label>Show
            <input id="showWeekNumbersRadio"
                   type="radio"
                   [(ngModel)]="config.showWeekNumbers"
                   name="showWeekNumbers"
                   [value]="true"
                   (ngModelChange)="configChanged('showWeekNumbers', 'true')">
          </label>
          <label>Hide
            <input id="hideWeekNumbersRadio"
                   type="radio"
                   [(ngModel)]="config.showWeekNumbers"
                   name="showWeekNumbers"
                   [value]="false"
                   (ngModelChange)="configChanged('showWeekNumbers', 'false')">
          </label>
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('enableMonthSelector')">
        <span class="dp-option-header">
          Enable month selector (enableMonthSelector):
        </span>
        <div class="dp-option-playground">
          <label>Enabled
            <input id="enableMonthSelector"
                   type="radio"
                   [(ngModel)]="config.enableMonthSelector"
                   name="enableMonthSelector"
                   [value]="true"
                   (ngModelChange)="configChanged('enableMonthSelector', 'true')">
          </label>
          <label>Disabled
            <input id="disableMonthSelector"
                   type="radio"
                   [(ngModel)]="config.enableMonthSelector"
                   name="enableMonthSelector"
                   [value]="false"
                   (ngModelChange)="configChanged('enableMonthSelector', 'false')">
          </label>
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('yearFormat')">
        <span class="dp-option-header">
          Year Format (yearFormat):
        </span>
        <div class="dp-option-playground">
          <input id="yearFormat"
                 type="text"
                 [(ngModel)]="config.yearFormat"
                 (change)="configChanged('yearFormat', config.yearFormat)">
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('showGoToCurrent')">
        <span class="dp-option-header">
          Show go to current button (showGoToCurrent):
        </span>
        <div class="dp-option-playground">
          <label>Enabled
            <input id="showGoToCurrent"
                   type="radio"
                   [(ngModel)]="config.showGoToCurrent"
                   name="showGoToCurrent"
                   [value]="true"
                   (ngModelChange)="configChanged('showGoToCurrent', 'true')">
          </label>
          <label>Disabled
            <input id="hideGoToCurrent"
                   type="radio"
                   [(ngModel)]="config.showGoToCurrent"
                   name="showGoToCurrent"
                   [value]="false"
                   (ngModelChange)="configChanged('showGoToCurrent', 'false')">
          </label>
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('dayBtnFormat')">
        <span class="dp-option-header">
          Day Button Format (dayBtnFormat):
        </span>
        <div class="dp-option-playground">
          <input id="dayBtnFormat"
                 type="text"
                 [(ngModel)]="config.dayBtnFormat"
                 (change)="configChanged('dayBtnFormat', config.dayBtnFormat)">
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('monthBtnFormat')">
        <span class="dp-option-header">
          Month Button Format (monthBtnFormat):
        </span>
        <div class="dp-option-playground">
          <input id="monthBtnFormat"
                 type="text"
                 [(ngModel)]="config.monthBtnFormat"
                 (change)="configChanged('monthBtnFormat', config.monthBtnFormat)">
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('hours12Format')">
        <span class="dp-option-header">
          12 Hour Format (hours12Format):
        </span>
        <div class="dp-option-playground">
          <input id="hours12Format"
                 type="text"
                 [(ngModel)]="config.hours12Format"
                 (change)="configChanged('hours12Format', config.hours12Format)">
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('hours24Format')">
        <span class="dp-option-header">
          24 Hour Format (hours24Format):
        </span>
        <div class="dp-option-playground">
          <input
              id="hours24Format"
              type="text"
              [(ngModel)]="config.hours24Format"
              (change)="configChanged('hours24Format', config.hours24Format)">
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('meridiemFormat')">
        <span class="dp-option-header">
          Meridiem Format (meridiemFormat):
        </span>
        <div class="dp-option-playground">
          <input id="meridiemFormat"
                 type="text"
                 [(ngModel)]="config.meridiemFormat"
                 (change)="configChanged('meridiemFormat', config.meridiemFormat)">
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('minutesFormat')">
        <span class="dp-option-header">
          Minutes Format (minutesFormat):
        </span>
        <div class="dp-option-playground">
          <input id="minutesFormat"
                 type="text"
                 [(ngModel)]="config.minutesFormat"
                 (change)="configChanged('minutesFormat', config.minutesFormat)">
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('minutesInterval')">
        <span class="dp-option-header">
          Minutes Interval (minutesInterval):
        </span>
        <div class="dp-option-playground">
          <input id="minutesInterval"
                 type="number"
                 [(ngModel)]="config.minutesInterval"
                 (change)="configChanged('minutesInterval', config.minutesInterval)">
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('secondsFormat')">
        <span class="dp-option-header">
          Seconds Format (secondsFormat):
        </span>
        <div class="dp-option-playground">
          <input id="secondsFormat"
                 type="text"
                 [(ngModel)]="config.secondsFormat"
                 (change)="configChanged('secondsFormat', config.secondsFormat)">
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('secondsInterval')">
        <span class="dp-option-header">
          Seconds Interval (secondsInterval):
        </span>
        <div class="dp-option-playground">
          <input id="secondsInterval"
                 type="number"
                 [(ngModel)]="config.secondsInterval"
                 (change)="configChanged('secondsInterval', config.secondsInterval)">
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('showSeconds')">
        <span class="dp-option-header">
          Show seconds (showSeconds):
        </span>
        <div class="dp-option-playground">
          <label>Enabled
            <input id="showSeconds"
                   type="radio"
                   [(ngModel)]="config.showSeconds"
                   name="showSeconds"
                   [value]="true"
                   (ngModelChange)="configChanged('showSeconds', 'true')">
          </label>
          <label>Disabled
            <input id="hideSeconds"
                   type="radio"
                   [(ngModel)]="config.showSeconds"
                   name="showSeconds"
                   [value]="false"
                   (ngModelChange)="configChanged('showSeconds', 'false')">
          </label>
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('showTwentyFourHours')">
        <span class="dp-option-header">
          Show twenty four hours (showTwentyFourHours):
        </span>
        <div class="dp-option-playground">
          <label>Enabled
            <input id="showTwentyFourHours"
                   type="radio"
                   [(ngModel)]="config.showTwentyFourHours"
                   name="showTwentyFourHours"
                   [value]="true"
                   (ngModelChange)="configChanged('showTwentyFourHours', 'true')">
          </label>
          <label>Disabled
            <input id="hideTwentyFourHours"
                   type="radio"
                   [(ngModel)]="config.showTwentyFourHours"
                   name="showTwentyFourHours"
                   [value]="false"
                   (ngModelChange)="configChanged('showTwentyFourHours', 'false')">
          </label>
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('timeSeparator')">
        <span class="dp-option-header">
          Time Separator (timeSeparator):
        </span>
        <div class="dp-option-playground">
          <input id="timeSeparator"
                 type="text"
                 [(ngModel)]="config.timeSeparator"
                 (change)="configChanged('timeSeparator', config.timeSeparator)">
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('showMultipleYearsNavigation')">
        <span class="dp-option-header">
          Show multiple years navigation buttons (showMultipleYearsNavigation):
        </span>
        <div class="dp-option-playground">
          <label>Enabled
            <input id="showMultipleYearsNavigation"
                   type="radio"
                   [(ngModel)]="config.showMultipleYearsNavigation"
                   name="showMultipleYearsNavigation"
                   [value]="true"
                   (ngModelChange)="configChanged('showMultipleYearsNavigation', 'true')">
          </label>
          <label>Disabled
            <input id="hideMultipleYearsNavigation"
                   type="radio"
                   [(ngModel)]="config.showMultipleYearsNavigation"
                   name="showMultipleYearsNavigation"
                   [value]="false"
                   (ngModelChange)="configChanged('showMultipleYearsNavigation', 'false')">
          </label>
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('showMultipleYearsNavigation')">
        <span class="dp-option-header">
          Multiple years navigate by (multipleYearsNavigateBy):
        </span>
        <div class="dp-option-playground">
          <input id="multipleYearsNavigateBy"
                 type="text"
                 [(ngModel)]="config.multipleYearsNavigateBy"
                 (change)="configChanged('multipleYearsNavigateBy', config.multipleYearsNavigateBy)">
        </div>
      </div>
    </div>

    <div class="dp-api">
      <h3 class="dp-options-section">API</h3>

      <div class="dp-option" *ngIf="isValidConfig('apiopen')">
        <span class="dp-option-header">
          Open (api.open()):
        </span>
        <div class="dp-option-playground">
          <button id="openBtn" (click)="openCalendar()">Open</button>
        </div>
      </div>

      <div class="dp-option" *ngIf="isValidConfig('apiclose')">
        <span class="dp-option-header">
          Close (api.close()):
        </span>
        <div class="dp-option-playground">
          <button (click)="closeCalendar()">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
