<div class="dp-day-calendar-container" [hidden]="currentCalendarMode !==  CalendarMode.Day">
  <dp-calendar-nav
      [label]="getNavLabel()"
      [showLeftNav]="shouldShowLeftNav()"
      [showRightNav]="shouldShowRightNav()"
      [isLabelClickable]="isNavHeaderBtnClickable()"
      [theme]="theme"
      (onLeftNav)="onLeftNav()"
      (onRightNav)="onRightNav()"
      (onLabelClick)="toggleCalendar(CalendarMode.Month)">
  </dp-calendar-nav>

  <div class="dp-calendar-wrapper"
       [ngClass]="{'dp-hide-near-month': !componentConfig.showNearMonthDays}">
    <div class="dp-weekdays">
      <span class="dp-calendar-weekday"
            *ngFor="let weekday of weekdays">
            {{getWeekdayName(weekday)}}
      </span>
    </div>
    <div class="dp-calendar-week" *ngFor="let week of weeks">
      <span *ngIf="componentConfig.showWeekNumbers" class="dp-week-number">{{week[0].date.isoWeek()}}</span>
      <button type="button"
              class="dp-calendar-day"
              *ngFor="let day of week"
              (click)="dayClicked(day)"
              [disabled]="isDisabledDay(day)"
              [ngClass]="getDayBtnCssClass(day)">
        {{getDayBtnText(day)}}
      </button>
    </div>
  </div>

</div>

<dp-month-calendar
    *ngIf="currentCalendarMode ===  CalendarMode.Month"
    [config]="monthCalendarConfig"
    [displayDate]="currentDateView"
    [theme]="theme"
    (onSelect)="monthSelected($event)"
    (onNavHeaderBtnClick)="toggleCalendar(CalendarMode.Day)">
</dp-month-calendar>
