<div>
  <div class="dp-description">
    <h2>Angular 2 Date Picker Multi Select Test Page</h2>
    <p>
      Test cases for multi select.
    </p>
    <p>
      <a routerLink="/">Back to demo</a>
    </p>
  </div>

  <div class="dp-test-pickers">
    <h3 class="dp-options-section">Base Config</h3>
    <div class="dp-option">
    <span class="dp-option-header">
      Single String Input (<code>string</code>):
    </span>
      <div class="dp-option-playground">
        <dp-day-picker name="dateItem"
                       #dateItem="ngModel"
                       [class.dp-material]="material"
                       [(ngModel)]="stringDate"
                       (ngModelChange)="log($event)"
                       [disabled]="disabled"
                       [minDate]="validationMinDate"
                       [maxDate]="validationMaxDate"
                       [required]="required"
                       [placeholder]="placeholder"
                       [config]="baseConfig">
        </dp-day-picker>
        <div *ngIf="dateItem.errors && dateItem.errors.required">required</div>
        <div *ngIf="dateItem.errors && dateItem.errors.format">format invalid</div>
        <div *ngIf="dateItem.errors && dateItem.errors.minDate">minDate invalid</div>
        <div *ngIf="dateItem.errors && dateItem.errors.maxDate">maxDate invalid</div>
        <div><label>Value:</label> {{stringDate}}</div>
      </div>
    </div>
    <div class="dp-option">
    <span class="dp-option-header">
      CSV String Input (<code>string</code>):
    </span>
      <div class="dp-option-playground">
        <dp-day-picker name="dateItem"
                       [class.dp-material]="material"
                       [(ngModel)]="stringCsvDate"
                       (ngModelChange)="log($event)"
                       [disabled]="disabled"
                       [minDate]="validationMinDate"
                       [maxDate]="validationMaxDate"
                       [required]="required"
                       [placeholder]="placeholder"
                       [config]="baseConfig">
        </dp-day-picker>
        <div *ngIf="dateItem.errors && dateItem.errors.required">required</div>
        <div *ngIf="dateItem.errors && dateItem.errors.format">format invalid</div>
        <div *ngIf="dateItem.errors && dateItem.errors.minDate">minDate invalid</div>
        <div *ngIf="dateItem.errors && dateItem.errors.maxDate">maxDate invalid</div>
        <div><label>Value:</label> {{stringCsvDate}}</div>
      </div>
    </div>
    <div class="dp-option">
    <span class="dp-option-header">
      String Array Input (<code>string[]</code>):
    </span>
      <div class="dp-option-playground">
        <dp-day-picker name="dateItem"
                       [class.dp-material]="material"
                       [(ngModel)]="stringArrayDate"
                       (ngModelChange)="log($event)"
                       [disabled]="disabled"
                       [minDate]="validationMinDate"
                       [maxDate]="validationMaxDate"
                       [required]="required"
                       [placeholder]="placeholder"
                       [config]="baseConfig">
        </dp-day-picker>
        <div *ngIf="dateItem.errors && dateItem.errors.required">required</div>
        <div *ngIf="dateItem.errors && dateItem.errors.format">format invalid</div>
        <div *ngIf="dateItem.errors && dateItem.errors.minDate">minDate invalid</div>
        <div *ngIf="dateItem.errors && dateItem.errors.maxDate">maxDate invalid</div>
        <div><label>Value:</label> {{stringArrayDate}}</div>
      </div>
    </div>
    <div class="dp-option">
    <span class="dp-option-header">
      Single Moment Input (<code>Moment</code>):
    </span>
      <div class="dp-option-playground">
        <dp-day-picker name="dateItem"
                       [class.dp-material]="material"
                       [(ngModel)]="momentDate"
                       (ngModelChange)="log($event)"
                       [disabled]="disabled"
                       [minDate]="validationMinDate"
                       [maxDate]="validationMaxDate"
                       [required]="required"
                       [placeholder]="placeholder"
                       [config]="baseConfig">
        </dp-day-picker>
        <div *ngIf="dateItem.errors && dateItem.errors.required">required</div>
        <div *ngIf="dateItem.errors && dateItem.errors.format">format invalid</div>
        <div *ngIf="dateItem.errors && dateItem.errors.minDate">minDate invalid</div>
        <div *ngIf="dateItem.errors && dateItem.errors.maxDate">maxDate invalid</div>
        <div><label>Value:</label> {{momentDate}}</div>
      </div>
    </div>
    <div class="dp-option">
    <span class="dp-option-header">
      Moment Array Input (<code>Moment[]</code>):
    </span>
      <div class="dp-option-playground">
        <dp-day-picker name="dateItem"
                       [class.dp-material]="material"
                       [(ngModel)]="momentArrayDate"
                       (ngModelChange)="log($event)"
                       [disabled]="disabled"
                       [minDate]="validationMinDate"
                       [maxDate]="validationMaxDate"
                       [required]="required"
                       [placeholder]="placeholder"
                       [config]="baseConfig">
        </dp-day-picker>
        <div *ngIf="dateItem.errors && dateItem.errors.required">required</div>
        <div *ngIf="dateItem.errors && dateItem.errors.format">format invalid</div>
        <div *ngIf="dateItem.errors && dateItem.errors.minDate">minDate invalid</div>
        <div *ngIf="dateItem.errors && dateItem.errors.maxDate">maxDate invalid</div>
        <div><label>Value:</label> {{momentArrayDate}}</div>
      </div>
    </div>
  </div>

  <div class="dp-test-pickers">
    <h3 class="dp-options-section">Undefined Input</h3>
    <div class="dp-option">
    <span class="dp-option-header">
      Single String Config (<code>string</code>):
    </span>
      <div class="dp-option-playground">
        <dp-day-picker name="dateItem"
                       [class.dp-material]="material"
                       [(ngModel)]="stringDateBlank"
                       (ngModelChange)="log($event)"
                       [disabled]="disabled"
                       [minDate]="validationMinDate"
                       [maxDate]="validationMaxDate"
                       [required]="required"
                       [placeholder]="placeholder"
                       [config]="singleStringConfig">
        </dp-day-picker>
        <div *ngIf="dateItem.errors && dateItem.errors.required">required</div>
        <div *ngIf="dateItem.errors && dateItem.errors.format">format invalid</div>
        <div *ngIf="dateItem.errors && dateItem.errors.minDate">minDate invalid</div>
        <div *ngIf="dateItem.errors && dateItem.errors.maxDate">maxDate invalid</div>
        <div><label>Value:</label> {{stringDateBlank}}</div>
      </div>
    </div>
    <div class="dp-option">
    <span class="dp-option-header">
      Multiple String Config (<code>string[]</code>):
    </span>
      <div class="dp-option-playground">
        <dp-day-picker name="dateItem"
                       [class.dp-material]="material"
                       [(ngModel)]="stringCsvDateBlank"
                       (ngModelChange)="log($event)"
                       [disabled]="disabled"
                       [minDate]="validationMinDate"
                       [maxDate]="validationMaxDate"
                       [required]="required"
                       [placeholder]="placeholder"
                       [config]="multipleStringConfig">
        </dp-day-picker>
        <div *ngIf="dateItem.errors && dateItem.errors.required">required</div>
        <div *ngIf="dateItem.errors && dateItem.errors.format">format invalid</div>
        <div *ngIf="dateItem.errors && dateItem.errors.minDate">minDate invalid</div>
        <div *ngIf="dateItem.errors && dateItem.errors.maxDate">maxDate invalid</div>
        <div><label>Value:</label> {{stringCsvDateBlank}}</div>
      </div>
    </div>
    <div class="dp-option">
    <span class="dp-option-header">
      Single Moment Config (<code>Moment</code>):
    </span>
      <div class="dp-option-playground">
        <dp-day-picker name="dateItem"
                       [class.dp-material]="material"
                       [(ngModel)]="momentDateBlank"
                       (ngModelChange)="log($event)"
                       [disabled]="disabled"
                       [minDate]="validationMinDate"
                       [maxDate]="validationMaxDate"
                       [required]="required"
                       [placeholder]="placeholder"
                       [config]="singleMomentConfig">
        </dp-day-picker>
        <div *ngIf="dateItem.errors && dateItem.errors.required">required</div>
        <div *ngIf="dateItem.errors && dateItem.errors.format">format invalid</div>
        <div *ngIf="dateItem.errors && dateItem.errors.minDate">minDate invalid</div>
        <div *ngIf="dateItem.errors && dateItem.errors.maxDate">maxDate invalid</div>
        <div><label>Value:</label> {{momentDateBlank}}</div>
      </div>
    </div>
    <div class="dp-option">
    <span class="dp-option-header">
      Multiple Moment Config (<code>Moment[]</code>):
    </span>
      <div class="dp-option-playground">
        <dp-day-picker name="dateItem"
                       [class.dp-material]="material"
                       [(ngModel)]="momentArrayDateBlank"
                       (ngModelChange)="log($event)"
                       [disabled]="disabled"
                       [minDate]="validationMinDate"
                       [maxDate]="validationMaxDate"
                       [required]="required"
                       [placeholder]="placeholder"
                       [config]="multipleMomentConfig">
        </dp-day-picker>
        <div *ngIf="dateItem.errors && dateItem.errors.required">required</div>
        <div *ngIf="dateItem.errors && dateItem.errors.format">format invalid</div>
        <div *ngIf="dateItem.errors && dateItem.errors.minDate">minDate invalid</div>
        <div *ngIf="dateItem.errors && dateItem.errors.maxDate">maxDate invalid</div>
        <div><label>Value:</label> {{momentArrayDateBlank}}</div>
      </div>
    </div>
  </div>

  <div class="dp-test-pickers">
    <h3 class="dp-options-section">Conflicting Input and Config userValueType</h3>
    <div class="dp-option">
    <span class="dp-option-header">
      Single String Config with Single Moment Input:
    </span>
      <div class="dp-option-playground">
        <dp-day-picker name="dateItem"
                       [class.dp-material]="material"
                       [(ngModel)]="momentDateConflictType"
                       (ngModelChange)="log($event)"
                       [disabled]="disabled"
                       [minDate]="validationMinDate"
                       [maxDate]="validationMaxDate"
                       [required]="required"
                       [placeholder]="placeholder"
                       [config]="singleStringConfig">
        </dp-day-picker>
        <div *ngIf="dateItem.errors && dateItem.errors.required">required</div>
        <div *ngIf="dateItem.errors && dateItem.errors.format">format invalid</div>
        <div *ngIf="dateItem.errors && dateItem.errors.minDate">minDate invalid</div>
        <div *ngIf="dateItem.errors && dateItem.errors.maxDate">maxDate invalid</div>
        <div><label>Value:</label> {{momentDateConflictType}}</div>
      </div>
    </div>
    <div class="dp-option">
    <span class="dp-option-header">
      Single Moment Config with Single String Input:
    </span>
      <div class="dp-option-playground">
        <dp-day-picker name="dateItem"
                       [class.dp-material]="material"
                       [(ngModel)]="stringDateConflictType"
                       (ngModelChange)="log($event)"
                       [disabled]="disabled"
                       [minDate]="validationMinDate"
                       [maxDate]="validationMaxDate"
                       [required]="required"
                       [placeholder]="placeholder"
                       [config]="singleMomentConfig">
        </dp-day-picker>
        <div *ngIf="dateItem.errors && dateItem.errors.required">required</div>
        <div *ngIf="dateItem.errors && dateItem.errors.format">format invalid</div>
        <div *ngIf="dateItem.errors && dateItem.errors.minDate">minDate invalid</div>
        <div *ngIf="dateItem.errors && dateItem.errors.maxDate">maxDate invalid</div>
        <div><label>Value:</label> {{stringDateConflictType}}</div>
      </div>
    </div>
    <div class="dp-option">
    <span class="dp-option-header">
      Multi String Config with Multi Moment Input:
    </span>
      <div class="dp-option-playground">
        <dp-day-picker name="dateItem"
                       [class.dp-material]="material"
                       [(ngModel)]="momentArrayDateConflictType"
                       (ngModelChange)="log($event)"
                       [disabled]="disabled"
                       [minDate]="validationMinDate"
                       [maxDate]="validationMaxDate"
                       [required]="required"
                       [placeholder]="placeholder"
                       [config]="multipleStringConfig">
        </dp-day-picker>
        <div *ngIf="dateItem.errors && dateItem.errors.required">required</div>
        <div *ngIf="dateItem.errors && dateItem.errors.format">format invalid</div>
        <div *ngIf="dateItem.errors && dateItem.errors.minDate">minDate invalid</div>
        <div *ngIf="dateItem.errors && dateItem.errors.maxDate">maxDate invalid</div>
        <div><label>Value:</label> {{momentArrayDateConflictType}}</div>
      </div>
    </div>
    <div class="dp-option">
    <span class="dp-option-header">
      Multi Moment Config with Multi String Input:
    </span>
      <div class="dp-option-playground">
        <dp-day-picker name="dateItem"
                       [class.dp-material]="material"
                       [(ngModel)]="stringArrayDateConflictType"
                       (ngModelChange)="log($event)"
                       [disabled]="disabled"
                       [minDate]="validationMinDate"
                       [maxDate]="validationMaxDate"
                       [required]="required"
                       [placeholder]="placeholder"
                       [config]="multipleMomentConfig">
        </dp-day-picker>
        <div *ngIf="dateItem.errors && dateItem.errors.required">required</div>
        <div *ngIf="dateItem.errors && dateItem.errors.format">format invalid</div>
        <div *ngIf="dateItem.errors && dateItem.errors.minDate">minDate invalid</div>
        <div *ngIf="dateItem.errors && dateItem.errors.maxDate">maxDate invalid</div>
        <div><label>Value:</label> {{stringArrayDateConflictType}}</div>
      </div>
    </div>
  </div>

  <div class="dp-test-pickers">
    <h3 class="dp-options-section">Conflicting Input and Config allowMultiSelect</h3>
    <div class="dp-option">
    <span class="dp-option-header">
      Single String Config with Multi String Input:
    </span>
      <div class="dp-option-playground">
        <dp-day-picker name="dateItem"
                       [class.dp-material]="material"
                       [(ngModel)]="stringArrayDateConflictNumber"
                       (ngModelChange)="log($event)"
                       [disabled]="disabled"
                       [minDate]="validationMinDate"
                       [maxDate]="validationMaxDate"
                       [required]="required"
                       [placeholder]="placeholder"
                       [config]="singleStringConfig">
        </dp-day-picker>
        <div *ngIf="dateItem.errors && dateItem.errors.required">required</div>
        <div *ngIf="dateItem.errors && dateItem.errors.format">format invalid</div>
        <div *ngIf="dateItem.errors && dateItem.errors.minDate">minDate invalid</div>
        <div *ngIf="dateItem.errors && dateItem.errors.maxDate">maxDate invalid</div>
        <div><label>Value:</label> {{stringArrayDateConflictNumber}}</div>
      </div>
    </div>
    <div class="dp-option">
    <span class="dp-option-header">
      Single Moment Config with Multi Moment Input:
    </span>
      <div class="dp-option-playground">
        <dp-day-picker name="dateItem"
                       [class.dp-material]="material"
                       [(ngModel)]="momentArrayDateConflictNumber"
                       (ngModelChange)="log($event)"
                       [disabled]="disabled"
                       [minDate]="validationMinDate"
                       [maxDate]="validationMaxDate"
                       [required]="required"
                       [placeholder]="placeholder"
                       [config]="singleMomentConfig">
        </dp-day-picker>
        <div *ngIf="dateItem.errors && dateItem.errors.required">required</div>
        <div *ngIf="dateItem.errors && dateItem.errors.format">format invalid</div>
        <div *ngIf="dateItem.errors && dateItem.errors.minDate">minDate invalid</div>
        <div *ngIf="dateItem.errors && dateItem.errors.maxDate">maxDate invalid</div>
        <div><label>Value:</label> {{momentArrayDateConflictNumber}}</div>
      </div>
    </div>
    <div class="dp-option">
    <span class="dp-option-header">
      Multi String Config with Single String Input:
    </span>
      <div class="dp-option-playground">
        <dp-day-picker name="dateItem"
                       [class.dp-material]="material"
                       [(ngModel)]="stringDateConflictNumber"
                       (ngModelChange)="log($event)"
                       [disabled]="disabled"
                       [minDate]="validationMinDate"
                       [maxDate]="validationMaxDate"
                       [required]="required"
                       [placeholder]="placeholder"
                       [config]="multipleStringConfig">
        </dp-day-picker>
        <div *ngIf="dateItem.errors && dateItem.errors.required">required</div>
        <div *ngIf="dateItem.errors && dateItem.errors.format">format invalid</div>
        <div *ngIf="dateItem.errors && dateItem.errors.minDate">minDate invalid</div>
        <div *ngIf="dateItem.errors && dateItem.errors.maxDate">maxDate invalid</div>
        <div><label>Value:</label> {{stringDateConflictNumber}}</div>
      </div>
    </div>
    <div class="dp-option">
    <span class="dp-option-header">
      Multi Moment Config with Single Moment Input:
    </span>
      <div class="dp-option-playground">
        <dp-day-picker name="dateItem"
                       [class.dp-material]="material"
                       [(ngModel)]="momentDateConflictNumber"
                       (ngModelChange)="log($event)"
                       [disabled]="disabled"
                       [minDate]="validationMinDate"
                       [maxDate]="validationMaxDate"
                       [required]="required"
                       [placeholder]="placeholder"
                       [config]="multipleMomentConfig">
        </dp-day-picker>
        <div *ngIf="dateItem.errors && dateItem.errors.required">required</div>
        <div *ngIf="dateItem.errors && dateItem.errors.format">format invalid</div>
        <div *ngIf="dateItem.errors && dateItem.errors.minDate">minDate invalid</div>
        <div *ngIf="dateItem.errors && dateItem.errors.maxDate">maxDate invalid</div>
        <div><label>Value:</label> {{momentDateConflictNumber}}</div>
      </div>
    </div>
  </div>
</div>
