<div class="dp-date-wrapper">
  <div class="dp-date-input-container dp-inline">
    <div class="dp-form-item">
      <dp-month-calendar id="picker"
                       #dateComponent
                       (close)="closed()"
                       (onChange)="log($event)"
                       (onLeftNav)="onLeftNav($event)"
                       (onRightNav)="onRightNav($event)"
                       (onSelect)="onSelect($event)"
                       [config]="config"
                       [displayDate]="displayDate"
                       [maxDate]="validationMaxDate"
                       [minDate]="validationMinDate"
                       [required]="required"
                       [theme]="material ? 'dp-material dp-main' : 'dp-main'"
                       [formControl]="control">
      </dp-month-calendar>

      <div class="dp-validations">
        <div *ngIf="control.errors?.required" id="requiredValidation">required</div>
        <div *ngIf="control.errors?.format" id="formatValidation">invalid format</div>
        <div *ngIf="control.errors?.minDate" id="minDateValidation">minDate invalid</div>
        <div *ngIf="control.errors?.maxDate" id="maxDateValidation">maxDate invalid</div>
      </div>
    </div>
  </div>

  <dp-config-form #component
                  pickerMode="monthInline"
                  [config]="config"
                  (onDisplayDateChange)="onDisplayDateChange($event)"
                  (onMaterialThemeChange)="onMaterialThemeChange($event)"
                  (onDisabledChange)="onDisabledChange($event)"
                  (onRequireValidationChange)="onRequireValidationChange($event)"
                  (onMinValidationChange)="onMinValidationChange($event)"
                  (onMaxValidationChange)="onMaxValidationChange($event)"
                  (onMinTimeValidationChange)="onMinTimeValidationChange($event)"
                  (onMaxTimeValidationChange)="onMaxTimeValidationChange($event)"
                  (onPlaceholderChange)="onPlaceholderChange($event)"
                  (onConfigChange)="onConfigChange($event)"
                  (openCalendar)="openCalendar()"
                  (closeCalendar)="closeCalendar()"
                  (moveCalendarTo)="moveCalendarTo($event)">
  </dp-config-form>
</div>
