<form #form="ngForm">
  <ob-day-picker name="test"
                 #test="ngModel"
                 #dayPicker
                 [(ngModel)]="date"
                 [config]="dayPickerConfig"
                 [placeholder]="'placeholder'"
                 [disabled]="disabled"
                 required
                 [minDate]="minDate">
  </ob-day-picker>

  <button (click)="changeDate()">Change Date</button>
  <button (click)="togglePicker(true)">Open Picker</button>
  <button (click)="togglePicker(false)">Close Picker</button>
  <button (click)="toggleDisabled()">Toggle Disabled</button>

  <ob-day-picker name="min"
                 #min="ngModel"
                 [(ngModel)]="minDate"
                 [config]="minConf">
  </ob-day-picker>

  <span>{{date}}</span>

  <div *ngIf="test.errors && test.errors.required">required</div>
  <div *ngIf="test.errors && test.errors.format">format invalid</div>
  <div *ngIf="test.errors && test.errors.minDate">minDate invalid</div>
  <div *ngIf="test.errors && test.errors.maxDate">maxDate invalid</div>
</form>
