<div class="dp-calendar-nav-container">
  <button type="button"
          class="dp-calendar-nav-left"
          [hidden]="!showLeftNav"
          [disabled]="leftNavDisabled"
          (click)="leftNavClicked()">  &lt;
  </button>
  <span class="dp-nav-header" [hidden]="isLabelClickable">{{label}}</span>
  <button type="button"
          class="dp-nav-header dp-nav-header-btn"
          [hidden]="!isLabelClickable"
          (click)="labelClicked()">
    {{label}}
  </button>
  <button type="button"
          class="dp-calendar-nav-right"
          [hidden]="!showRightNav"
          [disabled]="rightNavDisabled"
          (click)="rightNavClicked()">  &gt;
  </button>
</div>
