<div class="dp-calendar-container {{theme}}"
     *ngFor="let calendar of calendars; let start = first; let end = last">
  <div class="dp-calendar-nav-container">
    <button class="dp-calendar-nav-left"
            *ngIf="start"
            [disabled]="isLeftNavDisabled(calendar.month)"
            (click)="moveCalendars(calendars[0].month, -1)"> 	&lt;
    </button>
    <span class="dp-calendar-month">{{getMonthToDisplay(calendar.month)}}</span>
    <button class="dp-calendar-nav-right"
            *ngIf="end"
            [disabled]="isRightNavDisabled(calendar.month)"
            (click)="moveCalendars(calendars[0].month, 1)"> 	&gt;
    </button>
  </div>
  <dp-calendar-month
      [selected]="selected"
      [config]="calendar"
      (dayContextMenu)="dayContextMenu.emit($event)"
      (dayClick)="daySelected($event)">
  </dp-calendar-month>
</div>
