<div>
  <input type="text"
         class="dp-daypicker-input"
         [placeholder]="placeholder"
         [ngModel]="viewValue"
         (ngModelChange)="onViewDateChange($event)"
         (focus)="inputFocused()"
         (keydown)="onKeydown($event)"
         [disabled]="disabled"/>
  <div #container>
    <div class="dp-popup" [hidden]="!_areCalendarsShown">
      <dp-calendar class="dp-material"
                   [(selected)]="value"
                   [config]="pickerConfig"
                   (dayClick)="daySelected($event)">
      </dp-calendar>
    </div>
  </div>
</div>
