<div class="{{theme}}">
  <input type="text"
         class="dp-daypicker-input"
         [placeholder]="placeholder"
         [ngModel]="viewValue"
         (ngModelChange)="onViewDateChange($event)"
         (focus)="inputFocused()"
         (keydown)="onKeydown($event)"
         [disabled]="disabled"/>
  <div #container>
    <div class="dp-popup {{theme}}" [hidden]="!_areCalendarsShown">
      <dp-calendar [(selected)]="value"
                   [config]="pickerConfig"
                   [openOn]="openOn"
                   (dayClick)="daySelected()">
      </dp-calendar>
    </div>
  </div>
</div>
