<div>
  <div class="dp-input-container">
    <input type="text"
           class="dp-picker-input"
           [placeholder]="placeholder"
           [ngModel]="inputElementValue"
           (ngModelChange)="onViewDateChange($event)"
           (focus)="inputFocused()"
           [disabled]="disabled"/>
    <button class="dp-current-location-btn"
            *ngIf="componentConfig.showGoToCurrent"
            (click)="moveToCurrent()"
            [hidden]="!_areCalendarsShown">
    </button>
  </div>
  <div #container>
    <div class="dp-popup {{theme}}"
         [ngSwitch]="type"
         [hidden]="!_areCalendarsShown">
      <dp-day-calendar *ngSwitchCase="'day'"
                       [ngModel]="_selected"
                       [displayDate]="currentDateView"
                       (onSelect)="daySelected($event)"
                       [theme]="theme">

      </dp-day-calendar>

      <dp-month-calendar *ngSwitchCase="month">

      </dp-month-calendar>
    </div>
  </div>
</div>
