@import '../common/styles/variables';

& {
  dp-date-picker {
    display: inline-block;

    &.dp-material {
      .dp-picker-input {
        box-sizing: border-box;
        height: @basic-height;
        width: (@basic-height * 7) + 3px;
        font-size: 13px;
        outline: none;
      }

      .dp-current-location-btn {
        top: ~'calc(50% - 9px)';
        right: 5px;
        height: 18px;
        width: 18px;
        border: 2px solid fade(@c-black, 60);
      }
    }

    .dp-input-container {
      position: relative;
    }

    .dp-selected {
      background: @c-primary;
      color: @c-white;
    }

    .dp-current-location-btn {
      position: absolute;
      top: ~'calc(50% - 7px)';
      right: 5px;
      height: 14px;
      width: 13px;
      background: fade(@c-black, 60);
      border: 1px solid fade(@c-black, 60);
      outline: none;
      border-radius: 50%;
      box-shadow: inset 0 0 0 3px @c-white;
      cursor: pointer;

      &:hover {
        background: @c-black;
      }
    }
  }

  .dp-popup {
    position: relative;
    background: @c-white;
    box-shadow: 1px 1px 5px 0 fade(@c-black, 10);
    border-left: 1px solid fade(@c-black, 10);
    border-right: 1px solid fade(@c-black, 10);
    border-bottom: 1px solid fade(@c-black, 10);
    z-index: 9999;
    white-space: nowrap;
  }
}
